[2013-10-16 21:18] ymendel opened #3 "context-aware bracket wrapping"
It would be awesome if the bracket wrapping knew about where I was at the moment and was was acceptable. I super, super want to be in a double-quoted string in a language like Ruby, have something selected, hit `#` and see it wrapped correctly, like so:
1. I'm in some code like `var = "@something-name"`
2. I select `@something`
3. I hit `#`
4. I get `var = "#{@something}-name"`

[2014-01-07 00:09] benogle opened #4 "Error with new non-telepath stuff"
![screen shot 2014-01-06 at 4 07 13 pm](https://f.cloud.github.com/assets/69169/1855478/ecdea01c-772f-11e3-8ed0-d11b4a75cb32.png)

I just opened a file in a blank editor.

[2014-01-17 23:47] #4 closed, assigned to nobody

[2014-02-04 21:49] cameronmcefee opened #5 "Bracket matcher doesn't match html tags"
I :heart: this feature, but it doesn't seem to work for html tags. Since html can get so terribly noisy, I often find myself wishing this worked. I fill my markup with things like `<!-- /.my-tag ->` but that gets ugly after a while.

[2014-02-27 09:57] phortx opened #6 "Add support for ruby"
Add support for rubys "brackets" like

[code]

If I'm inside the inner block it should highlight the regarding `do` and `end`. Outside of that block it should highlight the `def` and `end`.

[2014-02-28 01:38] benogle opened #7 "Clashes with Auto-indent"
![bad_brace_behavior](https://f.cloud.github.com/assets/285675/2289420/c3cbc988-a007-11e3-9117-72bbbd040d86.gif)

Auto-indent only works when line ends in open curly-brane, which is checked before the event mutates the text. At that time, the pesky close brace is in the way.

Qt Creator, for example, does _not_ automatically add curly braces. Instead, it appears to  check for a carrier return pres

[2014-02-28 06:45] kaushikgopal opened #8 "Multi column select doesn't wrap"
If i have a multi column selection going on. And hit a bracket, it replaces with what you typed instead of surrounding with the bracket.

[2014-02-28 19:14] yeldarby opened #9 "Invalid Positioning after Resizing Text"
If you zoom in or out the position of the bracket highlight doesn't update. The line stays where it was even though the bracket moves.

Before zoom (aligned):
![screen shot 2014-02-28 at 1 13 24 pm](https://f.cloud.github.com/assets/870796/2297429/801c2502-a0ac-11e3-852f-4c5418450842.png)

After zoom (misaligned):
![screen shot 2014-02-28 at 1 13 39 pm](https://f.cloud.github.com/assets/870796/229

[2014-02-28 23:37] #9 closed, assigned to kevinsawicki

[2014-03-03 22:08] gleenn opened #11 "Underline of brackets showing up where there are no longer brackets"
I'm getting floating bracket-matching underlines where brackets used to be but are no longer. The underline appears to persist even where it shouldn't, such as in the screen-shot below where the orange underline is not actually under any bracket.
![screen shot 2014-02-26 at 5 48 38 pm](https://f.cloud.github.com/assets/240413/2315174/3a16bf88-a320-11e3-90f4-65f719433076.png)

[2014-03-07 00:43] #7 closed, assigned to nobody

[2014-03-10 21:56] chrisgriffin opened #14 "HTML Support"
Posted this on Atom's forum last week: http://discuss.atom.io/t/highlight-opening-closing-html-tags/3084

Any idea when Atom/bracket-matcher will get support for HTML?

[2014-03-10 22:01] #14 closed, assigned to nobody

[2014-03-12 23:59] kevinsawicki opened #15 "Support wrapping multiple selections in brackets"
Currently only a single selection is supported

[2014-03-20 01:32] micropat opened #16 "Support spaces_around_brackets from EditorConfig"
EditorConfig files are supported thanks to [this Atom package](https://atom.io/packages/editorconfig).

`spaces_around_brackets` is a domain-specific EditorConfig property that "denotes how spaces should be around brackets and parentheses: no space, only inside the brackets, only outside the brackets, or at the both side of brackets."

https://github.com/editorconfig/editorconfig/wiki/EditorConfig

[2014-03-20 10:52] lloeki opened #17 "Select to matched bracket"
Ctrl-M places the cursor to a bracket according to some rule. Ctrl-Shift-M should smartly† select from the current cursor position to the new one.

† This is very useful for indenting blocks, changing function arguments, modifying array/dict/hash indices or content... so best judgement must be used to set the selection properly. E.g calling it twice in a row from anywhere inside a bracketed array

[2014-03-20 19:43] benzen opened #18 "support quote"
Is it a relevant idea?

[2014-03-24 11:22] enc opened #19 "Faulty Brackets match wrong"
[code]

The last bracket has no corresponding bracket, but is matched to the first in the block.

Maches wrong also when the bracket is commented out.

[2014-03-24 19:02] pvande opened #20 "Problems with Lazily-Composed keyboard layouts"
(e.g. US International – PC)

Atom correctly handles composed characters in the general case by subscribing to the `composition(start|update|end)` events emitted by the DOM.  However, the event being subscribed to by the autopairing code in this plugin seems to be firing just after the `compositionstart`event (and **well** before any `textInput`event).  I suspect that this plugin should firing bas

[2014-03-26 16:02] #11 closed, assigned to kevinsawicki

[2014-03-28 23:39] giorgian opened #21 "Closing quotes after non-alphanumeric char"
Typing a single or double quote to end a string when the previous char is not `\w` will end up in inserting two quotes, thus starting a new string.

![closing-quotes](https://cloud.githubusercontent.com/assets/10765/2556374/195be23a-b6d2-11e3-9c1c-a26efaffc91c.gif)

[2014-03-31 17:01] #20 closed, assigned to nobody

[2014-04-01 07:16] giorgian opened #22 "Use keymap instead of _.adviseBefore editor, 'insertText'"
I was looking for a fix to [#21](https://github.com/atom/bracket-matcher/issues/21), but noticed that the bulk of the work is done in a callback to `_.adviseBefore`.

Since only a few keys (brackets and quotes) are of actual interest, shouldn't this be addressed with keymaps?

[2014-04-01 13:50] maxbucknell opened #23 "Matches parens inside string and regexp literals"
Currently, the bracket-matcher will tell me that the opposite paren inside this function call is inside a string.

![image](https://cloud.githubusercontent.com/assets/1707318/2579673/563f99ba-b9a4-11e3-80dd-460221519a8f.png)

The expected behaviour is that this is correct.

[2014-04-02 00:11] pcasaretto opened #24 "Bracket removal"
Hey,

TM2 has a useful feature that allows removing any kind of bracket from a selection.
For example, if I have the text `("some string")` and I activate the command twice I end up with `some string`.
By default it is mapped to <kbd>]</kbd>.
Do you think this would fit nicely here? I'd be happy to take a shot at it and send a PR.

[2014-04-07 20:25] #19 closed, assigned to kevinsawicki

[2014-04-07 20:37] #18 closed, assigned to nobody

[2014-04-07 20:38] #15 closed, assigned to nobody

[2014-04-07 21:04] #8 closed, assigned to nobody

[2014-04-07 21:43] #17 closed, assigned to nobody

[2014-04-09 02:51] mieko opened #26 "Document quote functionality."
I searched my Atom plugins to determine what was automatically completing single- and double-quoted strings (to hopefully disable it: decades of muscle memory doesn't allow me to use the feature effectively.)

The plugin description mentions `()`, `{}` and `[]`, but not the quote characters.  I went through the source of the most likely candidate and found bracket-matcher.  It'd be nice if the blu

[2014-04-16 18:47] #26 closed, assigned to kevinsawicki

[2014-04-18 16:39] #24 closed, assigned to nobody

[2014-04-27 18:04] izuzak opened #28 "Bracket Matcher does not skip over brackets in snippets"
It seems that the bracket-matcher stops keeping track of closing brackets in some situations, and does't skip them when `)` is typed and the cursor is already at a closing bracket `)`.

For example, when expanding snippets:

![baz](https://cloud.githubusercontent.com/assets/38924/2811860/3521db8a-ce35-11e3-973e-affd7894f463.gif)

Also, after typing outside the bracket range, and coming back:

![ba

[2014-05-07 20:36] Anaphase opened #29 "Add option to disable selection wraping"
I very much dislike how bracket-matcher wraps selections in quotes/brackets when an opening quote/bracket is typed, but I love matching brace highlighting. I think it would be very useful to simply add an option to disable quote and bracket wrapping of selections, similar to how autocompleteBrackets works.

Also, there is no documentation that says bracket-matcher is the plugin responsible for wra

[2014-05-08 00:49] martzmakes opened #30 "Highlight the background between brackets?"
I don't know how easy or difficult this would be, but instead of underlining the bracket I'd like to highlight/change the background color between brackets.  Would this be possible?

[2014-05-08 23:22] cheesecow opened #31 "Matching bracket highlighting stops working after cmd + click"
The underline highlighting that shows matching brackets stops working after you cmd + click to select multiple lines and then click the document again.

[2014-05-09 03:33] notslang opened #32 "add support for `backticks`"
If we could treat backticks the same way that we treat quotes, that would be great (especially when editing markdown where they are used for `inline code`).

[2014-05-19 23:43] #31 closed, assigned to kevinsawicki

[2014-05-20 20:25] #29 closed, assigned to kevinsawicki

[2014-05-23 10:33] kornerc opened #34 "Wrong Keybindings on Linux"
Hi!

I'm using Atom `atom -v 0.97.0-22b932e` on Ubuntu 14.04 amd64.

On Linux Atom has the same shortcuts for `Go To Matching Bracket` and `Select Inside Brackets`.
When I'm hitting `Ctrl+M` Atom is always doing `Go To Matching Bracket`.

![brackets](https://cloud.githubusercontent.com/assets/1033108/3065538/6b81d23c-e264-11e3-82f1-ea209b6a4367.png)

[2014-05-23 15:40] #34 closed, assigned to nobody

[2014-05-27 16:33] abe33 opened #35 "Random errors when closing tabs"
The error was first reported in the atom core atom/atom#2401

I recreate the issue here as @kevinsawicki advised to fix it in bracket-matcher rather than in the core.

[2014-05-28 15:55] #5 closed, assigned to kevinsawicki

[2014-05-28 16:07] #35 closed, assigned to kevinsawicki

[2014-05-28 16:15] #32 closed, assigned to nobody

[2014-05-30 10:06] teoric opened #38 "smart quotes: allow turning off / non-English quotes"
I love automatic closing of parentheses; thanks for this package!

However, in multilingual text, the smart quote feature can be a nuisance rather than help: e.g., the English opening quotation mark is the German closing quotation mark;  Polish uses the same opening quotation mark as German, but different closing; etc.

It would be nice if (a) if the smart quote feature could be disabled, and pote

[2014-06-02 15:56] kevinsawicki opened #40 "HTML matching wrong when past end of tag"
![screen shot 2014-06-02 at 8 56 20 am](https://cloud.githubusercontent.com/assets/671378/3149780/7aca8a1a-ea6e-11e3-883f-f6b7ccbde2b6.png)

[2014-06-03 19:29] #38 closed, assigned to nobody

[2014-06-06 16:51] #40 closed, assigned to nobody

[2014-06-10 18:26] bobrocke opened #42 "Folded Code Misaligns "Match" Underlines"
Atom underlines matching brackets and HTML tags with a bright green dotted line. I like that.

But if there is a code block folded somewhere on the page, matched bracket underlines below it don't align properly, ending up a little too high and overwriting the text.

And it gets worse with more folded code.

This example has two folded blocks. Now the underlines are more like strikethroughs! And th

[2014-06-10 22:43] #42 closed, assigned to kevinsawicki

[2014-06-12 08:08] piranna opened #43 "Python support"
Similar to issue #6 regarding Ruby, but with Python indented blocks.

[2014-06-23 22:17] danlshields opened #46 "Add class to brackets for styling"
One of the coolest features of atom is being able to customize things using stylesheets. However, it seems you can't style matching brackets because bracket-matcher only inserts DOM into the under layer. I'd like to be able to style matching brackets, for example:

[code]

[2014-06-26 08:40] andersennl opened #47 "Highlighting feature request"
First of all, thanks a lot for this really useful package. While using it for some time now, I've noticed that it would be nice to not only see a underline marking the matching bracket, but a "block hightlight", surrounding the whole bracket in a maybe yellowish color would be  more noticeable.

Would it be possible to add some kind of switch in the package setings to switch between these two disp

[2014-06-26 15:43] ddbrierton opened #48 "Configure colour of underlining"
Thanks for this great package. I noticed that the colour of the underline (lime) is hardcoded into the package css file. Do you think the colour should be defined by the syntax theme instead?

[2014-06-27 08:41] #48 closed, assigned to nobody

[2014-07-01 08:37] IwanLuijksQuestMedia opened #49 "Bracket Matcher, move through existing parentheses"
When there is an existing set of opening and closing parentheses like so:
tell_someone_that(empty($var))

and the cursor is just after $var, Atom knows the following closing parenthesis matches the third opening parenthesis (the one of the 'empty' call), it also knows the second closing parenthesis matches the one of the 'tell_someone_that'-call.

One of Netbeans' most wonderful features to date,

[2014-07-09 14:09] #49 closed, assigned to nobody

[2014-07-09 18:37] tad-lispy opened #50 "Expose (or document) some API"
It's not really an issue, more a request for hints.

I'd like to use bracket matcher functionality in [my package](https://github.com/lzrski/atomic-rest). Speciffically I'd like to get text inside brackets around cursor.

I've seen specs, and that I can use something like:

[code]

This however doesn't seem to be a very elegant approach. First of all I wouldn't like to mess with cursor position an

[2014-07-24 22:39] aixnr opened #53 "Auto-pairing for asterisk"
I think it would be cool if the core of Atom itself supports auto-pairing for asterisk for selected text, just like the one we have right now with brackets.

![asterisk2](https://cloud.githubusercontent.com/assets/1288147/3695771/72d24f62-1383-11e4-9b38-f45b4b1fba23.gif)

As for asterisk, the wrapped text is completely replaced with 1 asterisk.

![asterisk](https://i.imgur.com/qxqz2qi.gif)

[2014-07-26 10:38] vanja988 opened #54 "Can't write symbol ">""
When I try to write the symbol ">" using Ctrl-Alt-. it closes the tag without writing the symbol, like this:

`<div class="container"</div>`

[2014-08-01 05:35] zhanzhenzhen opened #55 "should ignore strings, regex and comments"
[code]

This is a valid statement, but the ending ")" incorrectly matches the "(" in "abc(".

I think Bracket Matcher should ignore characters in strings, regex and comments, like Sublime Text 2.

[2014-08-01 06:30] #55 closed, assigned to nobody

[2014-08-01 09:55] baldurh opened #56 "Package installation fails"
Atom version 0.118.0
Trying to install bracket-matcher 0.51.0
See output here: https://gist.github.com/baldurh/ba23af803ffc40b47bd1

[2014-08-04 17:33] #56 closed, assigned to nobody

[2014-08-05 09:34] rnarian opened #57 "Always highlight parents brackets"
I think it would be cool if the brackets wouldn't only be visible if my cursor is next to the bracket.

But rather more like this:

[code]

[code]

[2014-08-05 18:37] benogle opened #58 "TypeError: Cannot call method 'isEmpty' of undefined"
From atom/atom#3180

[code]

[code]

[code]

[2014-08-06 22:53] dmnd opened #59 "`bracket-matcher:select-inside-brackets` selects partial HTML tags"
See this gif:
![](http://g.recordit.co/OUPCFJn6i4.gif)

Notice that when I run `bracket-matcher:select-inside-brackets`, I end up with partially selected HTML tags.

[2014-08-06 22:54] dmnd opened #60 "`bracket-matcher:select-inside-brackets` doesn't select body of HTML tags"
See this gif:
![](http://g.recordit.co/OUPCFJn6i4.gif)

Notice that when I run `bracket-matcher:select-inside-brackets` inside the body of the HTML element, nothing is selected. But when I run it inside the braces, the text inside the braces is selected.

[2014-08-11 11:14] zhanzhenzhen opened #61 "Will auto indent even if "auto indent" is turned off"
Even if the global setting "auto indent" is turned off, it will still auto indent in some cases.

How to reproduce:

Select the file type as CoffeeScript, then type:

[code]

Then move the cursor to between "{" and "}". Then press enter.

It will not auto indent only if bracket matcher is disabled. So I think it may be a bug of bracket matcher.

[2014-08-11 18:16] #59 closed, assigned to kevinsawicki

[2014-08-11 18:16] #60 closed, assigned to kevinsawicki

[2014-08-11 18:16] #61 closed, assigned to kevinsawicki

[2014-08-12 00:57] dmnd opened #62 "`go-to-matching-bracket` behaves inconsistently for HTML"
Thanks for the fixes for #60 and #61 @kevinsawicki :smile:

I was testing it out and I noticed something else.

![](http://g.recordit.co/BR2vqdiCBD.gif)

In that gif, I'm pressing `ctrl-m` each time I advance by a character. You can see that sometimes I'm able to jump to the matching tag, sometimes it doesn't work, and sometimes it jumps to the matching tag but in a strange position inside the tag

[2014-08-12 21:27] #62 closed, assigned to kevinsawicki

[2014-08-12 22:38] dmnd opened #63 "Sync edits between open and closing tags in HTML"
Since bracket matcher is already finding and underlining the closing tag, it might make sense for it to actually sync up edits to the tag name. For example, if have `<span>Some <span>text</span></span>` and change the opening tag of the outermost element to `div`, the closing tag should change too.

[2014-08-13 17:34] dmnd opened #64 "go-to-matching-bracket moves cursor one space left in HTML attributes"
`ctrl-m` works better in HTML since a few days ago, thanks @kevinsawicki :smile:

I noticed one oddity though.

![](http://g.recordit.co/ezcOTWPJHj.gif)

Here I'm pressing `ctrl-m`. It jumps to the closing tag correctly in the tag name, but in the attributes part of the opening tag it makes the cursor go one to the left.

[2014-08-13 18:19] #64 closed, assigned to kevinsawicki

[2014-08-19 18:36] TristanBrotherton opened #65 "Fails in atom 0.123.0"
This plugin no longer works, and atom gives:

Bracket Matcher 0.54.0
Listed below are the incompatible native modules that this package depends on.

oniguruma@1.0.6
Error message: Module did not self-register.

[2014-08-19 18:44] #65 closed, assigned to nobody

[2014-08-27 21:52] nathansobo opened #67 "Weirdness surrounding selection with braces when inside parens"
![surround](https://cloud.githubusercontent.com/assets/1789/4068035/674c4d84-2e34-11e4-9bce-2ef00b364dde.gif)

[2014-09-10 13:25] giorgian opened #68 "Bad behaviour with multiple selection"
Pressing quotes (both single and double) when a multiple selection is active replaces all selections with either the first or the last one.

![](http://g.recordit.co/Kq8mTsjxWn.gif)

[2014-09-15 19:07] hrvoje-grabusic opened #69 "cannot open square bracket"
Can't open square bracket [ when pressing ctrl+alt+f

On Croatian keyboard the left bracket is on the f key.

[2014-09-22 20:57] #3 closed, assigned to nobody

[2014-09-25 00:25] #69 closed, assigned to nobody

[2014-09-25 18:03] Bjvanminnen opened #72 "shouldn't autosurround highlighted text when autocomplete is disabled"
I have autocomplete disabled. I highlight some text and press ". I expect the text to be replaced by ". Instead, it surrounds the highlighted text with quotations. This seems like the wrong behavior if I don't have autocomplete enabled.

[2014-09-25 18:08] #72 closed, assigned to nobody

[2014-09-29 03:14] hjfreyer opened #73 "Support closing HTML tags with hyphens"
Closing a &lt;polymer-element> tag inserts &lt;/polymer>. That's no good for custom elements.

[2014-09-29 16:19] #73 closed, assigned to kevinsawicki

[2014-10-06 20:29] scttnlsn opened #74 "Expand bracket selection as select-inside-brackets is triggered"
This was originally brought up in #17

Currently `ctrl-cmd-m` will select everything between two brackets.  Pressing it again should grow the selection to include the brackets.  Pressing it again should grow to include all the content in the enclosing brackets, etc.

Example:

Suppose we have the following text and initially the inner brackets are highlighted.  Pressing `ctrl-cmd-m` repeatedly wil

[2014-10-10 21:15] nathansobo opened #75 "Exception on font size change with matcher view attached to a removed editor"
This may be an issue in core, but for some reason the bracket matcher view is still subscribed to config even after its editor is destroyed and the view is removed.

[2014-10-11 14:25] #75 closed, assigned to nathansobo

[2014-10-14 08:38] abe33 opened #76 "TypeError raised when dragging a tab back and forth between panes"
Below a gif with the reproduction steps:

![steps](http://i.imgur.com/IVhJmvo.gif)

The whole error stack:

[code]

The weirdest thing is that I can't reproduce the issue in safe mode (where bracket-matcher is still available). Maybe another plugin is producing a side-effect here, I'll see if I can find the culprit.

[2014-10-15 15:33] #76 closed, assigned to nobody

[2014-10-22 07:17] desmondw opened #77 "Brackets automatically closing conditionally based on next character should be configurable"
Specifically Line 81 in lib/bracket-matcher.js:

hasWordAfterCursor = /\w/.test(nextCharacter);

This causes a bracket to not automatically close if the next character is a word character, which is great. However it's more consistent for me if it only places a closing bracket when the next character is white space and never otherwise.

I've changed the code in my package but it would be great if t

[2014-10-27 06:07] lee-dohm opened #78 "Brackets being matched in comments and strings"
Related: lee-dohm/emacs-flow#3

Repro case can be found (with permission) at: https://gist.github.com/debtosh/e5b25c7719867ec56382
## Repro Steps
1. Open a new file
2. Paste in the text from the Gist linked above
3. Set the grammar to C++
4. Place the cursor after the brace at the end of line 2

**Expected:** Matches brace on line 33
**Actual:** Does not match
1. Place the cursor after the brace _

[2014-10-31 05:33] ghost opened #79 "Bracket Matcher has stopped closing DIV tags"
For some reason, it won't close `<div>` anymore in my particular HTML file. Pretty much any other HTML tag, it will close (`Cmd-Opt-.`). If there's any way I can help debug, I'm game!

[2014-11-01 03:14] SahilMadan opened #80 "Backslash prevents pair autocompletion"
Firstly, apologies for not being able to make a gif of the issue!

For hello_world.c, if I type the following:

A secondary (closing) quotation mark is automatically inserted (along with a closing bracket). I.e.

. If I type the following...

As I type the closing quotation mark and bracket, the ones inserted automatically by Atom are replaced as I type over them.

However, if I type the following

[2014-11-06 06:51] wjimenez5271 opened #81 "automatic closing quote feature should be more intelligent"
When I type a single quote on a line in a Ruby file (for instance), Atom adds a closing quote right after it. This is useful in many situations but if I don't need that closing quote there, its tedious to remove it. If I hit backspace to remove the first quote (the one closest to my cursor), it removes both quotes, instead of just the one I want to remove. Again this could be expected behavior in

[2014-11-19 01:26] envygeeks opened #83 "Ignore the semi-colon when matching brackets?"
It would be nice to be able to have an option to straight up ignore the semicolon when matching brackets which would make JavaScript and (even) Ruby easier because then we could match `();` or `{};`.  I understand this isn't for everybody and probably might have a very close usecase but I thought it would be nifty to be able to ignore the semicolon to match when doing functions in JavaScript.

[2014-11-21 09:33] maxlevesque opened #84 "nested brackets coloration"
Hi, First of all thanks for the very good job. You're amazing :).
I would really like to see nested brackets to have different colors. For instance, outter brackets in black, inner in red, etc.

[2014-11-28 21:22] bobrocke opened #85 "Brackets Not Matching Properly In Markdown"
Brackets used in markdown don't highlight the matches properly if there is a soft wrap in between. See this screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/2962426/5232328/a6893f3c-771a-11e4-9eb0-b008e5f7ed22.jpeg)

The closing ] after themes is being matched with the space before the opening [.

See also the issue at: https://discuss.atom.io/t/brackets-not-matching-properly-

[2014-11-29 20:00] bobrocke opened #86 "Pairing ' vs. ""
Atom is very smart about when it autocompletes pairs of ", but less so with '.

If the cursor is at the start or end of a word and you hit ", you get one " as you'd like.

If the cursor is at the end of a word and you hit ', you get one ', also as you'd like.

But if the cursor is at the start of a word and you hit ', you get '' and not what you'd want.

[2014-12-10 22:35] benogle opened #88 "Latex: Uncaught TypeError: Cannot read property 'getScreenPosition' of undefined"
_From @jordaorodolfo on December 6, 2014 22:12_

This error happens often whenever I'm editing an LaTeX file. Closing the tab and reopenning the document solves it momentary.

Uncaught TypeError: Cannot read property 'getScreenPosition' of undefined

**Atom Version**: 0.153.0
**System**: linux 3.12.33-1-MANJARO
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package

_C

[2014-12-11 17:01] benogle opened #89 "Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined"
_From @fbrundu on December 11, 2014 13:58_

Uncaught TypeError: Cannot read property 'getBufferPosition' of undefined

**Atom Version**: 0.154.0
**System**: linux 3.13.0-41-generic
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package

### Steps To Reproduce

I don't know exactly how to reproduce it but it happens when I press Tab at the beginning of the line. Afterwa

[2014-12-11 17:11] benogle opened #90 "Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined"
_From @Trudko on December 2, 2014 20:8_

Hi, I am getting error Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined.

Steps to reproduce:
1. Open Atom with atom --safe.
2. Create new lines.
3. Select them.
4. Use command Editor: Split Selections Into lines.
5. Write something.
6. Press escape to cancel multi selection.
7. Run Core:Undo.
8. Run Core:Undo for second time.

Gi

[2014-12-12 20:23] #90 closed, assigned to kevinsawicki

[2014-12-19 00:29] differentmatt opened #91 "Bracket highlighting not visible in dark themes"
E.g. Solarized Dark.

[2014-12-22 20:11] #91 closed, assigned to nobody

[2014-12-23 23:09] dead-claudia opened #92 "Brackets in comments/strings shouldn't be counted as opening/closing brackets except when delimiters."
Examples:

[code]

[code]

[code]

[2014-12-24 00:04] #92 closed, assigned to nobody

[2014-12-31 23:04] dmnd opened #93 "Select inside brackets should select brackets when contents are already selected"
This would allow consecutive keypresses to enlarge the selection

[code]

For example:

  1. Begin with cursor at "a".
  2. First keypress selects inside of object
  3. Next keypress selects entire object
  4. Next keypress selects contents of array
  5. Next keypress selects whole array
  6. etc...

[2015-01-01 12:54] bobrocke opened #94 "Match {% %}"
Would it be possible match the `{%` `%}` pairs used by Twig for commands?

[2015-01-02 19:54] jdsimcoe opened #95 "Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined"
I get this when trying to undo a commented block of `HTML`code:

[code]

[2015-01-02 20:29] perlun opened #96 "Single quotes are being autocompleted in multi-select mode even though disabled"
Here are my settings:

![image](https://cloud.githubusercontent.com/assets/630613/5599426/b6aac226-92ce-11e4-9ccd-fbd4c906adcb.png)

However, the "Autocomplete smart quotes" is still taking place, when using Cmd-D to enable multi-edit. Why? It's incredibly annoying. :smile: Disabling the package removed the behavior.

[2015-01-03 08:55] Dashed opened #97 "Show matched bracket in the gutter"
Something like https://github.com/facelessuser/BracketHighlighter

[2015-01-05 16:17] InSuperposition commented on #46
:+1:

[2015-01-06 03:19] lee-dohm commented on #46
I feel like this revising of the Issue makes it a duplicate of atom/atom#2886. Essentially, the current Decorations API (and its precursors) can create layers over or under the text z-order-wise, but do not modify the classes of the text itself. Nor do they offer a means where an over layer can easily duplicate the text which it is obscuring in order to make it look like it is modifying the text.

[2015-01-06 13:02] maxnowack commented on #63
+1!

[2015-01-06 18:26] #96 closed

[2015-01-06 18:46] ineil opened #98 "Atom 0.166.0"
This plugin has stopped highlighting content in Atom 0.166.0
(Using Bracket Matcher 0.64.0)

Have disabled, reenabled, rebooted - still no joy.

[2015-01-06 18:47] kevinsawicki commented on #98
What theme are you using?

[2015-01-07 00:18] williamboman commented on #98
+1

On same versions. I use `Seti` UI and `Seti Monokai` syntax.

[2015-01-08 07:08] dmnd commented on #93
Oops, I just noticed that this is a dupe of #74. Closing.

[2015-01-08 07:08] #93 closed

[2015-01-08 14:14] TreyTaylor commented on #98
+1

[2015-01-08 15:31] lee-dohm commented on #98
The issue where brackets weren't being highlighted because of the change to the Shadow DOM was fixed in the latest release. Since there are other issues tracking the bugs in the themes, I'm going to close this one.

Let us know if this isn't fixed for you on the latest version.

[2015-01-08 15:31] #98 closed

[2015-01-09 03:09] KrisMannino opened #99 "bracket matcher died on me"
iT wont work, i cant uninstall it. whats going on?

[2015-01-09 03:24] lee-dohm commented on #99
There was a bug in a recent version where bracket-matcher was broken. If you update to the latest version, it should fix it.

[2015-01-12 04:32] peterjeliot commented on #88
Here's how I reproduce it:
1. Trigger a snippet with duplicate tab stops and tab until I have multiple cursors
2. (optional) Hit escape, move the cursor around, delete some text in vim mode, etc
3. Hit tab anywhere

The entire window becomes 100% broken until I close it. After the bug triggers, all keypresses and attempts to close that tab pop up the same error.

TypeError: Cannot read property 'g

[2015-01-12 10:44] brunetton commented on #88
I can confirm, the bug is still present in 0.169. I can't reproduce it exactely, and I didn't understand well Peter sentence "Trigger a snippet with duplicate tab stops and tab until I have multiple cursors", so I can't be sure to try the same thing he did, but it definitely doen't have nothing todo with a Latex problem.
It comes while editing Python code, and using multiple-cursor snippet.
I'll t

[2015-01-12 11:02] brunetton commented on #88
Ok, I got it :

# Steps to reproduce :

## Define those two snipets
	'.source.python':
	'Import pformat and pp':
		'prefix': 'ipp'
		'body': '${2:from pprint import pformat}\nprint u"$1: ", pformat($1)$3'
	'Print debug':
		'prefix': 'pp'
		'body': 'print u"$1: ", pformat($1)'

## In a Python file, do those manipulations

ipp <tab> <esc> [new line]
pp <tab>

When [new line] means: go to a new edit

[2015-01-13 11:21] brunetton commented on #88
I correct myself: it's not a multi-line snippet problem, but a multi-stop snippet (probably what Peter means).

# Steps to reproduce :

## Define a multi-stop snippet
    '.source.python':
        'Test':
            'prefix': 'tt'
            'body': '$1=$1$2'

## In a Python file, do those manipulations

[code]
Exception should appear

[2015-01-14 04:20] peterjeliot commented on #88
Apologies for the subpar reproduction instructions.

Here is a snippet that triggers this behavior. I had forgotten that I'd used nested tabstops.

[code]

1. Open a file, select 'Ruby' for the language on the bottom-right of the window.
2. Type "defdestroy", tab, escape, down, tab

Interestingly, I just found another different exception from this set of keystrokes
1. Open a file, select 'Ruby' fo

[2015-01-15 00:31] EricKoziol commented on #94
Or support for custom pairs in general as _ and * for markdown would be useful.
(This can be easily done by opening `bracket-matcher.js` and appending them to the `BracketMatcher.prototype.defaultPairs = {}` but any update to the plugin overwrites these custom matches.)

[2015-01-17 05:02] propersquid commented on #88
I get this error too.

OS: Linux Mint 17 64 bit

Reproduction:
1. Create a C++ file
2. Type once (then tab)
3. Type cl (then tab)
4. Error should pop up from that.

Stack trace:
[code]

[2015-01-20 00:18] jdsimcoe commented on #95
@nathansobo @kevinsawicki Still getting this error every time I try commenting a block of code in `HTML` and then I hit undo. Any ideas?

[2015-01-20 00:42] 50Wliu commented on #95
What Atom version are you using (if it's not 0.173.0+, could you please try updating and then reproducing this error)?  Can you reproduce this in safe mode (`atom --safe`)?

[2015-01-20 00:44] jdsimcoe commented on #95
I am on `0.174.0` and I **cannot** reproduce this in safe mode. Commenting and un-commenting via `cmd + /` works normally. How can I isolate what package is causing this?

[2015-01-20 00:51] 50Wliu commented on #95
You might want to try [package-cop](https://atom.io/packages/package-cop) which is a package written by @mark-hahn specifically for these things.

[2015-01-20 00:51] #95 closed

[2015-01-20 00:52] jdsimcoe commented on #95
Thanks @50Wliu . In the process I updated Color Picker and the problem went away. Strange. Thanks for the help.

[2015-01-23 15:55] mattberkowitz commented on #89
A user of my plugin, autoclose-html, reported getting this error after upgrading to the latest version (https://github.com/mattberkowitz/autoclose-html/issues/46). I don't think it's specifically related to autoclose-html, just the insertText triggering the _.adviseBefore of bracket-matcher's insertText. Perhaps the upgrade (installation?) of a plugin is causing bracket-matcher to lose it's editor

[2015-01-23 23:50] pariser commented on #6
:+1:

[2015-01-24 19:00] phammer commented on #89
Issue also started showing up since yesterday. I disabled the bracket-matcher for now.

[2015-01-24 19:30] LouisTakePILLz commented on #54
I second that; it occurs on my end as well.
It should also be worth noting that I'm on the "French (Canada) Canadian Multilingual Standard" keyboard set, which maps the "< >" chevrons mapped to `RALT+,` and `RALT+.`

[2015-01-24 19:40] staticinteger commented on #89
Also getting this issue as of today... Unfortunate, this increases my workflow greatly. Hopefully it gets fixed soon!

[2015-01-24 21:05] LouisTakePILLz opened #100 "Default close-tag keybind clashes with certain keyboard mappings"
Using the "French (Canada) Canadian Multilingual Standard" keyboard set, which maps the `< >` chevrons to `RALT-,` and `RALT-.`, respectively, I am unable to properly write closing chevrons (i.e. `>`).

The mapping on this given keyboard obviously clashes with the default `bracket-matcher:close-tag` keybind (being `ctrl-alt-.`), as pressing the key combination triggers both the auto-completion and

[2015-01-24 23:05] 50Wliu commented on #100
It looks like this might be a duplicate of atom/atom-keymap#35.

[2015-01-26 08:03] andersennl commented on #97
+1, this would be really useful.

[2015-01-29 19:45] vforvova opened #101 "Uncaught TypeError: Cannot read property '0' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: Mac OS X 10.10.2
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.69.0

### Stack Trace

Uncaught TypeError: Cannot read property '0' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-29 20:22] 50Wliu commented on #101
Could you please share some reproduction steps if possible?
Also, does the error still occur if you run Atom in safe mode (`atom --safe`)?

[2015-01-29 20:29] vforvova commented on #101
It was happened just once, I'll try to reproduce it and then I'll answer you.

[2015-01-29 20:33] vforvova commented on #101
There are a lot of deprecations since last update. May it was one of them. Anyway thank you for quick answer!

[2015-01-30 00:41] #101 closed

[2015-01-30 20:56] rachel-carvalho opened #102 "Uncaught TypeError: Cannot read property 'isEmpty' of undefined"
On a .less file, over a samba share:

1. Used a snippet
2. Cut last line of generated text
3. Select whole file until line before end
4. Press TAB

**Atom Version**: 0.176.0
**System**: Mac OS X 10.10.1
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.69.0

### Stack Trace

Uncaught TypeError: Cannot read property 'isEmpty' of undefined

[code]

### Commands

[2015-01-30 23:44] joefitzgerald opened #103 "Disable Bracket Matcher During Paste To Prevent Performance Issue When Pasting 1600 Lines Of Text"
Can we please disable bracket matcher during a paste event?

Best depicted through a profile of the activity.
1. Open the inspector
2. Start a CPU profile
3. Paste [this file](http://beta.json-generator.com/FsMfeBZ) into an empty JSON file
4. Stop the CPU profile
5. Observe a **huge** performance issue

![screen shot 2015-01-30 at 4 41 24 pm](https://cloud.githubusercontent.com/assets/744740/59854

[2015-02-03 01:39] GabLeRoux commented on #95
I'm having that `Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined` error when having a very long url with a couple of `/`, I hit `cmd+d` until they're all selected, hit enter (did this to see what parts of the url I was having). Once everything is on separate lines, I hit `cmd+z` to revert changes and had this error.

This is marked as closed, but I can repeat each time.

[2015-02-03 01:48] 50Wliu commented on #95
I just tried reproducing this with minimal packages installed and I **cannot** reproduce using the same exact steps as described on Ubuntu 14.10, Atom 0.176.0.  The only community packages I have installed are file-icons, language-sourcepawn, linter, linter-jshint, and (unreleased) sourcepawn-compiler.

Could you please try to reproduce this in safe mode?

[2015-02-03 05:33] JamesGould123 commented on #89
I am getting this error as well, whenever I type `<div class="clear` then hit the right arrow to exit the auto-completed `"`. It errors when I hit `>`. I am also using the autoclose-html package, and it shows in my stack trace:

<pre>
TypeError: Cannot read property 'getBufferPosition' of undefined
  at TextEditor.module.exports.TextEditor.getCursorBufferPosition (c:\Users\James\AppData\Local\atom

[2015-02-03 19:01] JamesGould123 commented on #89
We may want to transfer this issue over to the atom core repository, as the problem appears to originate in the TextEditor > https://github.com/atom/atom/blob/master/src/text-editor.coffee

[2015-02-03 20:36] GabLeRoux commented on #95
I updated my Packages and problem did not happen again.

`autocomplete-plus@2.0.10`
`minimap@4.0.2`

Sorry, did not test on safemode.

[2015-02-04 18:36] Pugio commented on #68
I can't reproduce this.

[2015-02-04 23:13] Pugio commented on #78
Apologies for the multiple references. Stupid git issues on my part.

[2015-02-04 23:53] Pugio commented on #103
Fixes to this would be hack-ish, at the moment, as Atom doesn't seem to expose any useful events around paste. Either an event in TextEditor.pasteText or, better, a 'finished-dispatch' event hook on the global command registry.

[2015-02-06 21:38] benplumley opened #106 "Modifying border creates visual glitch"
I have the following in my styles.less

    atom-text-editor::shadow .bracket-matcher {
      background-color: #49483E;
      border: 1px dotted lime;
    }

which creates this effect:

![](http://i.gyazo.com/e7da0e083acd54827bde6a1325ac4dbf.png)

However, as of atom 177, it also creates this glitch along the top of the editor window:

![](http://i.gyazo.com/55c7634731611dde5b335f7eeeec4517.png)

[2015-02-06 21:41] kevinsawicki commented on #106
I think I gave you back CSS on that other issue.

Bracket matchers uses Atom's decorations API now so proper CSS would be:

[code]

[2015-02-06 21:43] benplumley commented on #106
Perfect, thanks.

[2015-02-06 21:43] #106 closed

[2015-02-10 14:37] giorgian commented on #68
It still affects me with 0.177.0 (on Mac OS X). Just tried with `--safe`, and it still does it. What can I to do help you reproduce this?

[2015-02-10 15:41] lee-dohm commented on #68
Some repro steps would be nice. Here's what I did that did not reproduce the issue using Atom v0.178.0-89d5dd3 on Mac OS X 10.10.2:

1. Start Atom
1. Create a new untitled file with <kbd>Cmd+N</kbd>
1. Select all with <kbd>Cmd+A</kbd>
1. Split the selection into lines with <kbd>Shift+Cmd+L</kbd>
1. Press <kbd>“</kbd>

**Expected and Actual:** Resulting text is `"first"\n"second"\n`

[2015-02-10 16:43] giorgian commented on #68
Mystery solved!

exactly the steps @lee-dohm said, but: expected is `"first"\n"second"\n` and actual is `"second"\n"second"\n` on Atom v0.177.0 (both with all packages and with `--safe`) on Mac OS X 10.10.2...
Except that I use the "U.S. International PC" keyboard layout, where `"` is obtained by pressing <kbd>"+Space</kbd>. So I guess the problem only manifests itself with keyboard layouts where

[2015-02-12 14:39] nyancat opened #107 "Uncaught SyntaxError: Unexpected token ILLEGAL"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.178.0
**System**: Mac OS X 10.10.2
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.71.0

### Stack Trace

Uncaught SyntaxError: Unexpected token ILLEGAL

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-18 22:05] fulldecent opened #109 "Ruby editor: typing #{ autocomplete annoying"
In general, all autocomplete functionality should obey this rule:

Following shows an example of a "helpful" autocomplete in Ruby becoming a pain:

![kismac2build2](https://cloud.githubusercontent.com/assets/382183/6238329/2b1903da-b6c8-11e4-82d5-8731b6255929.gif)

originally posted to https://github.com/atom/atom/issues/5595#issuecomment-74796207

[2015-02-19 07:07] thedaniel commented on #109
Yeah, this is a huge bummer for me writing ruby code too.

[2015-02-25 16:02] rafal-radziszewski opened #110 "Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: Mac OS X 10.10.2
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.64.0

### Stack Trace

Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-25 16:19] 50Wliu commented on #110
Please upgrade Atom to the latest version (currently 0.182.0) and see if you can reproduce this.

[2015-02-26 14:14] Veejay opened #111 "Compatibility problem with Oniguruma"
Hi,

I am not sure I fully understand the technical intricacies of this issue so I'll just paste what information Atom is giving me:

[code]

And

[code]

It's a shame because I heavily rely on your most excellent package.

[2015-02-26 15:29] lee-dohm commented on #111
Which version of Atom are you using? I don't see that error.

[2015-02-26 16:34] kevinsawicki commented on #111
@Veejay do you have bracket-matcher installed to `~/.atom/packages/bracket-matcher`?

[2015-02-26 23:56] benogle commented on #88
I'm on current master. This is not reproducable, but this is what happened

1. In a spec
1. I wrote `req` tab to expand the require snippet
1. did some stuff I dont remember
1. typed `be` then tab to expand the snippet
1. this error.

Trying to figure out legit steps now

**Atom Version**: 0.185.0-fdda26a
**System**: Mac OS X 10.9.5
**Thrown From**: [bracket-matcher](https://github.com/atom/bracke

[2015-02-27 04:46] nathansobo opened #112 "Should be able to insert `*` around a selected word when editing markdown"

[2015-02-27 14:52] Veejay commented on #111
@lee-dohm Hi, I'm currently using Atom 0.184.0

@kevinsawicki I do have a directory in `~/.atom/packages/bracket-matcher`, but this was installed through Atom's Preferences tab (searching for the package and clicking install).

Here's a screenshot of the issue (as reported in the bottom status bar when starting Atom).
![screen shot 2015-02-27 at 15 48 02](https://cloud.githubusercontent.com/assets

[2015-02-27 15:27] lee-dohm commented on #111
@kevinsawicki's point is that bracket-matcher is a default-installed package, so you don't need it installed a second time in `~/.atom/packages` ... and in the past, this has caused problems. If you uninstall it from `~/.atom/packages` and restart Atom things should work fine. If not, let us know!

[2015-02-27 20:46] kevinsawicki commented on #111
Closing this out, deleting `~/.atom/packages/bracket-matcher` and then restarting Atom should fix this as @lee-dohm mentioned.

[2015-02-27 20:46] #111 closed

[2015-02-28 21:47] izuzak commented on #110
@nathansobo I was able to reproduce this in the latest master version `0.185.0-115f519`.

Steps to reproduce:

1. Type this text into the editor from top to bottom (don't copy paste it):

[code]

2. Select all (`cmd-a`).
3. Split selection into lines (`cmd-shift-l`)
4. Move all cursors right (press right arrow once)
5. Move all cursors left (press left arrow once)
6. Undo (`cmd-z`) a few times.

!

[2015-03-02 08:52] Veejay commented on #111
Works perfectly, I am now a satisfied customer, thanks to the both of you.

[2015-03-03 14:03] izuzak opened #113 "Incorrect highlighting of corresponding start and end tags"
_From @turingmaechtig on March 3, 2015 13:59_

The following programming style is often used in systems like Wordpress:
![screen shot 2015-03-03 at 14 44 09](https://cloud.githubusercontent.com/assets/3964073/6463587/d2c45a4e-c1b3-11e4-8a14-877aed3f0191.png)
The opening php tag is directly after the HTML element name without a space. As you can see in the screenshot, this seams to confuse the high

[2015-03-03 14:08] izuzak opened #114 "Select range for paired brackets on double click"
_From @KylePDavis on March 3, 2015 13:57_

It would be great if double-clicking a paired token (bracket, brace, paren, quote, back-ticks, slash, etc.) selected to the other associated token, inclusively.

Here are a couple of examples of things that do this that I use frequently:
* `Terminal.app` in Mac OS X
* [ACE](https://github.com/ajaxorg/ace/) editor

_Copied from original issue: atom/atom#58

[2015-03-04 09:04] halhenke commented on #97
OMG yes - miss that very much from Sublime

[2015-03-05 10:43] Yajo opened #115 "Problems with XML files and self-closed tags"
Write this in an XML file:
[code]
1. Put the caret inside b#2 or the closing tag of b#3. They highlight each other.
2. Put it just after the element b#1 or b#2 and press `ctrl-alt-.` It will try to close the self-closing element.
3. Undo step 2. Put the caret at the end of the file and press `ctrl-alt-.` 4 times. It will add some senseless `</b></c></b></a>`.

[2015-03-05 18:06] RodrigoEspinosa commented on #102
This is happening to me too in a javascript file.

1. Select a block of code.
2. Try to replace it (hitting delete for example)

**Atom Version**: 0.186.0
**System**: Mac OS X 10.10.2
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.71.0

### Stack Trace

Uncaught TypeError: Cannot read property 'isEmpty' of undefined

[code]

### Commands

[code]

### Config

[2015-03-09 12:53] MiquelAdell commented on #110
I've also been able to reproduce it with very similar steps.
I was writing, using the line selection  [cmd + hold click + drag], then writing a little more an undoing.

**Atom Version**: 0.186.0
**System**: Mac OS X 10.10.1
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.71.0

### Stack Trace

Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of

[2015-03-10 10:44] rustedwolf commented on #7
It's not working anymore while working with Less files. :( The behaviour is the same as described in post beginning.
bracket-matcher ver.: 0.71.0
Atom ver.: 0.184.0

[2015-03-10 15:01] aendrew commented on #110
I get this every time I try to do the cmd+/ shortcut to comment a line when it's inline JavaScript (i.e., inside a Polymer element). It is the single most frustrating aspect of Atom at the moment...

[2015-03-10 19:09] Yahosh commented on #7
Yeah, doesn't seem to work for me while writing js.

bracket-matcher - 0.71.0
atom - 0.186.0

[2015-03-10 19:11] mlmorg commented on #7
@Yahosh knows what's up

[2015-03-10 19:13] rustedwolf commented on #7
@Yahosh, that's weird, I'm not having problems with js. Although my version's bit older.
Perhaps it's might be plugin conflict related?

[2015-03-10 19:28] Yahosh commented on #7
Oops, you're right @rustedwolf . I had the plugin enabled but accidentally turned off Auto Indent in the general settings while I was making some other changes. Everything's working, including LESS for me.

[2015-03-10 19:33] rustedwolf commented on #7
@Yahosh, since LESS works on your Atom build, that means I have to check with my settings. Perhaps, and Atom upgrade will do that.

[2015-03-11 00:00] tombroomfield commented on #6
+1

[2015-03-12 09:43] sadovnychyi commented on #57
:+1:

[2015-03-12 09:46] kolomiichenko commented on #57
:+1:

[2015-03-15 02:12] bassu commented on #46
+1

[2015-03-15 14:31] 50Wliu opened #116 "Improve brace matching"
_From @mindplay-dk on March 15, 2015 14:10_

Brace matching in ATOM is like this:

![image](https://cloud.githubusercontent.com/assets/103348/6656256/f2c59dde-cb23-11e4-9d61-16c3cc9c43e3.png)

In e.g. Php Storm, brace matching prioritizes parens based on their direction - like this:

![image](https://cloud.githubusercontent.com/assets/103348/6656258/15b2e4dc-cb24-11e4-9617-a81e7ba765dc.png)

Why t

[2015-03-16 19:49] Evmorov commented on #6
+1

[2015-03-17 16:57] stuartstobie commented on #97
:+1: Would love this!

[2015-03-18 17:55] izuzak opened #117 "Select inside brackets for HTML files doesn't consider HTML attributes"
Originally reported over at https://github.com/atom/atom/issues/6008 (thanks @philsinatra!).

Example:

[code]

Position the cursor after `class="wrapper">` and execute the "Select inside brackets" command. Result:

![screen shot 2015-03-18 at 18 43 34](https://cloud.githubusercontent.com/assets/38924/6715602/dc81038c-cd9f-11e4-812f-4d65fdd14279.png)

Instead, I expected to see this:

![screen sho

[2015-03-19 08:29] Eiamnacken commented on #89
Got the same error OS Opensuse 13.2. I also use autoclose-html. I appears when it type the following <code>form action="http://localhost:8080/forms/stapelsuche.php" method="get"</code>

This is what i get fom the error
<code>[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.187.0-f9aedb7
**System**: linux 3.16.7-7-desktop
**Thrown From**: [bracket-matcher](https://github.com/at

[2015-03-20 00:01] nathansobo commented on #110
There were some test failures with the text-buffer upgrade, so reopening this one.

[2015-03-20 16:50] nathansobo commented on #110
Closed via a47744fd4842b8ff72cbab7b266e1f26554c261b.

[2015-03-20 16:50] #110 closed

[2015-03-20 16:54] nathansobo commented on #110
@izuzak Are there any other issues that might be related to this? I feel like I saw some but I can't track them down now.

[2015-03-20 18:12] izuzak commented on #110
@nathansobo I can't remember any, but I'm just going through issues from the last week and will let you know if I :runner: into anything related.

[2015-03-22 22:59] bruno207 opened #119 "Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined"
1. Load a .txt file that was previously encoded as ANSI.

**Atom Version**: 0.170.0
**System**: Microsoft Windows 8.1
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.67.0

### Stack Trace

Uncaught TypeError: Cannot read property 'tokenAtBufferColumn' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/co

[2015-03-23 10:04] szimek commented on #18
Would it make sense for this package to support selecting text between quotes? It already autocompletes quotes anyway :)

[2015-03-23 11:25] eviljoe commented on #89
I was able to reproduce this consistently, but it is a bit of a... process...
 1. Open any HTML document (H<sub>1</sub>)
 1. Open up a split pane (`ctrl+k, down` is what I have been using to reproduce this)
 1. In the newly opened split pane open a *different* HTML document (H<sub>2</sub>)
 1. In H<sub>1</sub>, type an element name that will cause the autoclose-html package to autoclose an HTML el

[2015-03-25 05:09] aroman commented on #119
Just got this error too. Was editing an html file and I tried to save it and this happened.

Stack trace:

[code]

[2015-03-26 09:30] PavelVanecek commented on #83
+1

[2015-03-26 20:34] kevinsawicki commented on #119
I believe this is a duplicate of #110 and should be fixed if you upgrade to Atom 0.188 or later

[2015-03-26 20:35] aroman commented on #119
Actually, I experienced the bug on 0.188. Hmm.

[2015-03-26 20:36] kevinsawicki commented on #119
Ah interesting, can you reliably reproduce it or did it just happen that once?

[2015-03-26 20:37] aroman commented on #119
It happened once randomly while editing an html/jinja2 template file. I'll definitely comment back here if it happens again, but it seemed pretty out of the blue. I think it was in the middle of typing? Also, if it helps the investigation I use the vim plugin.

[2015-03-31 13:46] juh2 opened #120 "German quotes not supported"
Hi,

the german quotations with »double quotes« and ›single quotes‹ are not supported. I would be nice, if we could customize that.

[2015-03-31 17:14] jugglingnutcase opened #121 "Allow customization of which characters to automatically pair"
i'm currently maintaining an Atom language grammar for the PowerShell language, and i received [an issue](https://github.com/jugglingnutcase/language-powershell/issues/37) that complains about automatic quote insertion for the backtick character (<kbd>`</kbd>) in the language. In PowerShell the backtick is used for escapes, so backticks rarely surround a phrase of code, rendering this behavior a s

[2015-04-01 08:44] baipenghan opened #122 "'ctrl-m' on Mac waits for very long before moving to the matching bracket"
'ctr-m' on Mac waits for very long before moving to the matching bracket

[2015-04-07 17:16] nspriego commented on #6
+1

[2015-04-10 08:55] requnix commented on #121
This is also an issue in Clojure where `'` is used as an escape character, not a quote, and never needs to be paired.

This causes issues like the following: atom/language-clojure#9

It would be great if we could set this per character pair per grammar. If not, I'd settle for excluding grammars and leave it to someone to create a specialised package that deals exclusively with bracketing and quoti

[2015-04-15 15:07] allolex commented on #6
+1

[2015-04-21 13:57] brunetton commented on #122
Have a look to your keybinding-resolver (https://atom.io/packages/keybinding-resolver) to make sure the sortcut is not used by another package (I would bet on merge-conflicts: https://atom.io/packages/merge-conflicts that also use `ctrl-m`)

[2015-04-21 14:11] brunetton opened #124 "Enable "Select Inside Brackets" fonctionnality to other plateforms"
Hi all,

Just wondering: why Select Inside Brackets functionality seems to be only accessible to Mac versions, not Linux versions of Atom ? (`.plateform-darwin` un shortcuts json file).

In Linux, the display of matching bracket is working fine (even if I deactivate bracket-matcher), so I say to myself : If it's possible to display corresponding element, it should be simple to select chars or line

[2015-04-21 14:52] lee-dohm commented on #122
I agree with @brunetton, this is probably a key binding conflict. I am unable to reproduce the issue you mention @baipenghan using Atom v0.193.0-af5618e on Mac OS X 10.10.3.

Please let us know if there is any other information we can provide.

[2015-04-21 14:58] lee-dohm commented on #124
It looks like it was moved to a Mac-specific keybinding and nobody ever added it to the Linux or Windows keybindings. Can you map a keybinding (in your `keymap.cson`) like this and see if it works for you?

[code]

If it does, it is a simple matter to add the missing keymap to the other platforms.

Alternatively, you can just search for "selectinside" in the Command Palette. I bet it shows up ther

[2015-04-21 15:48] baipenghan commented on #122
Yes, it's a key-bindings conflicts with merge-conflicts. And I deleted the keybinding shortcuts in merge-conflicts keymap file. Is this the best way to resolve it?

[2015-04-22 04:35] lee-dohm commented on #122
Well, if you changed the keymap file in the package itself, it will probably be overwritten on the next update. You should put your keymap modifications in your `~/.atom/keymap.cson`. It can be opened in Atom from the Atom menu on OS X.

[2015-04-22 12:50] brunetton commented on #124
Hi, yes of course, it was the first thing I tried : add a key mapping, and the result was quite strange. I was on an mako html file, well indented,  (all openings tags have matching closing tags), but it selected a text between braces, at a totally different place in the document.
This is why I asked, maybe there is a reason why it works only on Mac environment (I don't see why, no system calls sh

[2015-04-22 20:25] tjmehta commented on #102
+1... This bug has been ongoing for over a week. Very annoying as I have just transitioned to atom. It immediately repros when I try to split-pane right (CMD+k right)

[2015-04-22 20:33] 50Wliu commented on #102
Is this reproducible in safe mode (`atom --safe`)?

[2015-04-22 20:34] tjmehta commented on #102
I am unfamiliar with atom --safe will that still run with bracket-matcher enabled?

[2015-04-22 20:42] 50Wliu commented on #102
Yes.  It only disables community packages (eg ones that you installed manually from Settings-->Install).

[2015-04-23 17:55] smlombardi opened #125 "Adjust color/style of bracket-matcher?"
Currently, it puts a tiny hard-to-see light green underline.

Where can I edit this in my styles.less to something more obvious to me?

[2015-04-23 18:52] Wexx commented on #125
Bracket-matcher/styles/bracket-matcher.atom-text-editor.less, uses border-bottom property by default http://www.w3schools.com/cssref/pr_border-bottom.asp

[2015-04-24 12:44] smlombardi commented on #125
I was trying to get it to be background-color in a addition to the border-bottom, to be more visible.  However, if I apply such parameters to my styles.less only the OPPOSITE tag gets the bgcolor -- the one where the cursor is does not.

[2015-04-24 18:56] Wexx commented on #125
That's strange, can you post what you have in your style.less? Both of my brackets have the applied  when I open a new file.

Mine is absolutely hideous right now, but I have

`.bracket-matcher .region {
  border-bottom: thick dotted yellow;
  background-color: orange;
  position: absolute;
}`

[2015-04-24 19:57] smlombardi commented on #125
[code]

![screen shot 2015-04-24 at 3 57 46 pm](https://cloud.githubusercontent.com/assets/835148/7327382/ab721ffc-ea9a-11e4-8e94-1fe5fb07508c.png)

[2015-04-24 23:17] #124 closed

[2015-04-25 13:04] smlombardi commented on #125
I see both only when Atom is in the background.

On Fri, Apr 24, 2015 at 2:56 PM, Wexx <notifications@github.com> wrote:

[2015-05-01 05:37] mattymaloney commented on #63
+1 indeed

[2015-05-01 10:39] mnquintana commented on #63
There is a workaround for this, although it's not ideal – you can use `Find and Replace: Select Next` (<kbd>Cmd-D</kbd> or <kbd>Ctrl-D</kbd>) with the cursor in the opening tag, then enter it again, and if the next appearance of that word is the closing tag, then it'll select that too and you can rename both.

[2015-05-04 13:04] irobayna commented on #102
@50Wliu this does not happen when running ```atom --safe```

[2015-05-04 19:14] 50Wliu commented on #102
In that case, this isn't an Atom bug.  You can try to use the [package-cop](https://atom.io/packages/package-cop) by @mark-hahn to figure out which package is causing this error.

[2015-05-07 12:08] srmelody opened #128 "Don't add second single quote when inside double quotes"
This is pretty much the only annoyance I've seen when using Atom, so great job!  When I start a string with double quotes then add a single quote inside, Atom will always add the second single quote.  However, the common use case where I run into this is using apostrophes in strings.  For example:

"I don''t want that second apostrophe!"
I would prefer:
"I don't want that second apostrophe!"

[2015-05-08 13:42] aftermathew commented on #89
This issue is getting thrown reliably for me using the [markdown-toc](https://atom.io/packages/markdown-toc) package.

Essentially the package works great in the first file I use it in after opening atom.  After that, if I try and use it in any other buffer, command keeps generating extra TOCs in the first buffer I was in.

If I close the first buffer this error is thrown.

I need to quit Atom ent

[2015-05-11 03:43] Moelf opened #131 "Is there a way to only color the matched bracket but not color the bracket my cursor's on?"
For example when my cursor's on one of the bracket, my cursor is white, and the orange color of matched brackets makes it looks orange as well.
![screen shot 2015-05-11 at 11 40 14](https://cloud.githubusercontent.com/assets/5306213/7558246/9d6a4c1e-f7d2-11e4-857e-dff6eac6d364.png)

I want them to be separated (my block cursor will always be white), so when I skim through the file I can easily kno

[2015-05-11 08:57] brunetton commented on #124
Thanks for the commit, it's a good start !
But `ctrl-alt-m` is used for a long time for [minimap] (https://atom.io/packages/minimap).

Why don't use `ctrl-shift-m` here ? As it has been discused in atom/bracket-matcher#17:

as @lloeki said:

and @kevinsawicki :

It's also what's being requieted by @dmnd that opened atom/markdown-preview#114

I've nothing to add to this explanation, it's exactely t

[2015-05-11 09:03] brunetton commented on #17
Referenced in atom/bracket-matcher#124

[2015-05-11 09:21] cbenz commented on #124
+1 ctrl-shift-m

[2015-05-11 10:53] brunetton commented on #17
Referenced in https://github.com/atom/markdown-preview/pull/249

[2015-05-11 12:45] brunetton commented on #17
While waiting for the pull request to be included on next Atom release, we can customize our `keymap.cson` adding this :

<pre>
'atom-text-editor':
  'ctrl-shift-m': 'bracket-matcher:select-inside-brackets'
'atom-text-editor[data-grammar="source gfm"]':
  'ctrl-shift-m': 'markdown-preview:toggle'
</pre>

[2015-05-11 12:45] brunetton commented on #124
While waiting for the pull request to be included on next Atom release, we can customize our `keymap.cson` adding this :

<pre>
'atom-text-editor':
  'ctrl-shift-m': 'bracket-matcher:select-inside-brackets'
'atom-text-editor[data-grammar="source gfm"]':
  'ctrl-shift-m': 'markdown-preview:toggle'
</pre>

[2015-05-11 15:38] mnquintana opened #133 "bracket-matcher:close-tag problems with TH tag"
_From @Instagit on May 11, 2015 15:33_

Atom Version: 0.196

Keybinding:

[code]

Closing this `<th>` tag doesn't work:

[code]

It works with `<td>`, if you omit only the closing `</thead>` or if you remove the `<thead>` tags completely.

According to the HTML5 specification it doesn't need to be closed, but the behaviour is inconsistent.

_Copied from original issue: atom/atom#6740_

[2015-05-11 16:08] lloeki commented on #124
This might be the moment to propose that *-preview (where, * is markdown, svg, png or whatever) could have a common "open preview shortcut").

[2015-05-14 18:29] jaromero opened #134 "Difficult to select inside HTML tags after matching pairs of () [] {}"
I have this small test HTML file:

[code]

Using `bracket-matcher:select-inside-bracket` anywhere inside the `<title>`, `<h1>` or the first two `<p>` tags works as expected; i.e. the inside of the tags becomes selected.

Using `select-inside-bracket` anywhere after the tag containing the text `(test)` causes the word `test` to become selected, even if the cursor is inside a tag (unless the tag its

[2015-05-19 00:47] bobrocke opened #135 "Move the region down?"
Is it possible to offset the `.bracket-matcher .region` down? I'd like the underline to be a little lower than it is now so as not to overlap the bottom of `}` and `[`s.

[2015-05-19 00:57] mnquintana commented on #135
@bobrocke What font are you using (and font size)? That's definitely not the case with all fonts. (I'm using Fira Mono, and the `.bracket-matcher .region` isn't touching the bottom of `{`s or `[`s)

[2015-05-19 01:01] bobrocke commented on #135
Source Code Pro at 12px.

Bob
-----
Bob Rockefeller
Richmond Hill, GA
www.bobrockefeller.com

[2015-05-19 18:30] bobrocke commented on #135
Yes, with Fira Mono, there is a space between the underline and the symbols. But I like Source Code Pro better and it seems many others do, too. Is there a way to accommodate both?

[2015-05-20 01:13] lee-dohm commented on #135
Maybe add `padding-bottom: 1px` or so to the `.bracket-matcher .region`?

[2015-05-20 13:46] lc-ffx opened #136 "Uncaught Error: No screen line exists when converting buffer row to screen row"
[Enter steps to reproduce below:]

1. Had two panes of files open
2. Performed a commit in command line
3. Performed a git pull --rebase
4. Switched back to atom window

**Atom Version**: 0.200.0
**System**: Mac OS X 10.10.3
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.74.0

### Stack Trace

Uncaught Error: No screen line exists when converting buffer row

[2015-05-20 15:22] 50Wliu commented on #136
Can you reproduce this in safe mode (`atom --safe`)?

[2015-05-20 17:49] Lenocam commented on #119
Having the same issue. When I've closed angle brackets for ul and table. It was happening periodically, maybe a couple times a day. Now it is happening nearly every time I close angled brackets.

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.177.0
**System**: linux 3.13.0-45-generic
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.71.0

[2015-05-20 17:55] mnquintana commented on #119
@Lenocam You're using an old version – can you try upgrading to the latest version of Atom (0.200.0) and see if you can reproduce this issue?

[2015-05-20 20:22] 50Wliu commented on #119
@Lenocam I have a suspicion that it might be the `autoclose-html` package that's causing this-if you disable that, can you still reproduce your issue?

[2015-05-20 22:27] bobrocke commented on #135
`padding-bottom` appears to have no effect. I've switched fonts to Menlo, which works like Fira Mono in this regard. But I'd still like to figure this out and go back to Source Code Pro.

[2015-05-21 13:02] gordonjb opened #137 "Uncaught TypeError: Cannot read property 'start' of undefined"
[Enter steps to reproduce below:]

1.Took an XML file with no errors, removed a bracket (>) to create an error. XML Lint error appeared.
2. Hit Ctrl - Z to undo, recieved this error.

**Atom Version**: 0.200.0
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.74.0

### Stack Trace

Uncaught TypeError: Cannot read prop

[2015-05-21 14:07] nycdotnet opened #138 "Don't surround highlighted quote with quotes of another type"
I think everything is working as designed, but bracket-matcher produces unexpected results in the scenario of changing `'` to `"` and vice-versa with the default settings.

Consider this line of JS:

`var x = "hello";`

If my linter instructs me to use single quotes, I will highlight the first `"` character (left of the `h`), and press `'`.

What I would expect to happen is either of these two thi

[2015-05-22 16:20] kriskova commented on #136
Same issue here

[Enter steps to reproduce below :]

 (can't reproduce :/)

1. Edit code below
2. Browse the web
3. Return to Atom
4. Start edit again

**Atom Version**: 0.200.0
**System**: linux 3.13.0-24-generic
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.74.0

### Stack Trace

Uncaught Error: No screen line exists when converting buffer row to screen

[2015-05-22 16:32] lc-ffx commented on #136
I also haven't been able to reproduce this behaviour since reporting it

[2015-05-22 18:58] rpavlik commented on #136
I had this problem today as well, copying and pasting some cmake code. Seemed OK after update of unrelated plugins and restart.

[2015-05-25 20:08] michaelsharpe commented on #6
+1

[2015-05-26 14:09] q42jaap commented on #138
This sucks indeed, I generally rarely use `wrap with '` intentionally, wrapping with `(` or `{` makes some sense, but quotes don't. This should be a keybinding instead of default behavior. Or at least a way to turn it off...

[2015-05-26 14:12] q42jaap commented on #81
It should be possible to turn off some of the quote features in the editor. wrapping with quotes for instance (not this issue). In general more options adds complexity to the editor, but now we're stuck with features that are sometimes not wanted...

[2015-05-26 14:19] mnquintana commented on #81
@q42jaap That's already possible:

![screen shot 2015-05-26 at 10 18 09 am](https://cloud.githubusercontent.com/assets/823545/7814514/a1897170-0390-11e5-95ae-3ec561e6f0da.png)

Is there a setting you're looking for that isn't covered there? If you want to disable this functionality altogether you can always disable the package.

[2015-05-26 15:00] zdraganov commented on #6
+1

[2015-05-26 15:40] lee-dohm commented on #138
You can also use the [toggle-quotes package](https://atom.io/packages/toggle-quotes). I find it *very* useful.

[2015-05-29 06:02] lczech opened #140 "Jump to matching quotation marks"
While the package already does autocomplete for strings like `""` and `''`, it currently does neither highlight matching pairs of those quotation marks nor provide the ability to jump between them (using `crtl-m`).

Rationale: This might be helpful in documents where it is not easy to find the end of a string (multi-line quotations) by eye. Most importantly, it would also allow to quickly select t

[2015-05-30 14:21] andya9 commented on #137
I can reproduce this too. It doesn’t seem to happen when linter-xmllint is disabled

[2015-05-30 17:32] andya9 commented on #137
Update: and it happens only when clicking somewhere else before coming back to fix it; so:
1. \<section
2. if i immediately close it, everything works fine. If I edit something on a different line first, and then come back to fix this, the error pops up.

[2015-05-31 11:32] andya9 commented on #115
:+1:

[2015-05-31 13:35] PD75 commented on #136
I have the same problem writing functions with curly bracket in javascript. Just happened today. Never before. Managed before to close atom and open again and it worked.

[2015-06-01 21:00] tobinibot opened #142 "Uncaught TypeError: Cannot read property 'matchesParams' of undefined"
Happening as I click around a Coffeescript file.

**Atom Version**: 0.204.0
**System**: Mac OS X 10.10.3
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.74.0

### Stack Trace

Uncaught TypeError: Cannot read property 'matchesParams' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-01 21:12] kevinsawicki commented on #142
/cc @maxbrunsfeld @nathansobo

[2015-06-01 21:50] nathansobo commented on #142
@tobinibot If you get the editor into a state where this happens, could you take a heap snapshot from the profiles tab of the developer tools, save it, and send it to `support@github.com`? It will help us to dig in and get some clues as to how things entered a corrupted state.

[2015-06-01 23:23] maxbrunsfeld commented on #142
Related: https://github.com/atom/atom/issues/6899

[2015-06-02 07:47] frantic1048 commented on #136
**Atom Version**: 0.204.0
**System**:Linux 4.0.4-2 x86_64
**Thrown From**:bracket-matcher 0.74.0

same issue as above

    var Header = React.createClass({});

open a blank file,I typed above line,and move cursor between `{}`,then hit enter, the error occours.

[2015-06-03 13:28] despairblue commented on #58
This happens when I split a pane and try to type anytthing into the new pane:
[code]

Btw: [this](https://github.com/atom/notifications/issues/70) makes reporting errors kind of hard at the moment.

[2015-06-03 13:33] despairblue commented on #58
Oh when I catch that the error above (to get a formatted stack trace) I get the following:
[code]

[2015-06-03 13:35] despairblue commented on #58
:confused: reloading atom fixed this

[2015-06-03 14:22] jtbonaccorsi commented on #136
Subscribed. This happens a lot to me when I write css and do something like .class-name {}. When I hit enter in between the brackets, it errors constantly.

[2015-06-04 17:38] fburleigh commented on #137
I also see this -- the editor gets stuck after XML Linter tells me that my XML is malformed.

[2015-06-04 20:53] andya9 commented on #137
@fburleigh I opened an issue on [main Atom repo](https://github.com/atom/atom/issues/7077), as bracket-matcher is not the only affected package

[2015-06-05 01:48] Jeff-Coons commented on #136
Much like everyone here, I'm getting the error when I hit enter between the curly brackets { }. It started slowly at first but now it's happening more frequently.

[2015-06-08 20:45] izuzak commented on #137
Was just playing with linter-xmllint and was able to trigger the exception reported here and other exceptions reported in https://github.com/atom/atom/issues/7077. I was also able to trigger some strange behavior in which the cursor would get "stuck" -- pressing `delete` or trying to move it didn't work until I manually clicked somewhere else in the editor. I don't have exact steps to reproduce un

[2015-06-10 12:24] izuzak commented on #107
@maxbrunsfeld Wondering if you have any :thought_balloon: on this one -- any chance this was fixed by https://github.com/atom/text-buffer/pull/58 as well?

[2015-06-10 16:23] maxbrunsfeld commented on #107
I think we saw a few issues like this (syntax errors while parsing files from core packages) after `asar` was first introduced. @kevinsawicki do you think this is fixed now?

[2015-06-10 20:56] izuzak commented on #137
Fixed by https://github.com/atom/text-buffer/issues/75, see https://github.com/atom/atom/issues/7077#issuecomment-110904293 for more details.

[2015-06-10 20:56] #137 closed

[2015-06-11 00:34] Li-ReDBox commented on #78
Any update of fixing this issue?

[2015-06-11 07:55] screeny05 commented on #94
+1

[2015-06-11 11:33] shemerey commented on #6
+1

[2015-06-11 11:34] shemerey commented on #109
yes it's so annoying

[2015-06-11 22:43] AdamBuczynski opened #143 "Do not include redundant closing quote when valid quote already exists on same line"
See the following example:

![ex1](https://www.dropbox.com/s/8ciiou7liutx4mo/quote%20replacement.gif?dl=1)

When a valid matching closing quote already exists on the same line, Atom should not auto include a redundant closing quote.

(Ref https://github.com/atom/atom/issues/7240)

[2015-06-11 22:46] #99 closed

[2015-06-12 13:28] nicolasmccurdy commented on #109
:+1:

[2015-06-15 19:33] brunoskonrad opened #144 "Uncaught TypeError: Cannot read property 'getTokenIterator' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.3
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.76.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getTokenIterator' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-17 08:57] BigMcLargeHuge commented on #6
Major +1  That would be awesome.

[2015-06-17 12:21] izuzak commented on #144
Thanks for the report, @brunoskonrad. Can you share more information about what happened here? Can you reliably reproduce this? Do you remember which type of tile you were editing or what you were doing?

[2015-06-17 12:26] brunoskonrad commented on #144
@izuzak as I remember I just open a SASS file... And didn't occured again. Sorry can't explain more about that! ):

[2015-06-18 23:02] alexandernst opened #145 "Autocomplete not working with multicursor"
Autocomplete is not working when multicursor in used.

Steps to reproduce:

Open a new empty file
Change type to JavaScript
Hit enter a few times to create a few new lines
Select a few lines using multicursor
Type (
Expected result:

() should appear on each line.

Actual result:

( appears on each line.

[2015-06-19 00:51] 50Wliu commented on #145
I can reproduce this on Atom 0.211.0-4675fc5, Ubuntu 15.04.

[2015-06-23 02:26] portOdin commented on #63
+1. Doesn't sound difficult, maybe we can work on this?

[2015-06-23 16:02] viddo commented on #58
I have had trouble reproducing it consistently, but it seems to happen sometimes (not sure on the exact steps yet) when entering "insert mode" using the [vim-mode](https://github.com/atom/vim-mode) package for example.

Anyway, the exception is thrown at [ib/bracket-matcher-view.coffee#L74](https://github.com/atom/bracket-matcher/blob/beb7bf6cbd1e78a38c9764047e9efdf8c1cc4b59/lib/bracket-matcher-vi

[2015-06-24 12:32] michaelsproul commented on #121
+1, in Rust a single `'` is used for lifetimes, which only appear in certain contexts:

[code]

Allowing the language packs to adjust the completion rules would be great.

[2015-06-25 23:49] nlangle opened #146 "Ignore matching bracket if it is commented out"
Consider ignoring commented out bracket matches.  For example:
//Refresh Results
      function reFresh() {
      //Get new showVals
        showVals = [];
        $('#filter input:checked').each(function(){
          if ($(this).val() != '' && $(this).val() != undefined){
            showVals.push($(this).val());
          }
        });
        //Some other functions go here...
        //And if t

[2015-06-26 11:56] izuzak commented on #146
Thanks for the report -- I believe this is a duplicate of https://github.com/atom/bracket-matcher/issues/78.

[2015-06-26 11:56] #146 closed

[2015-06-30 10:30] fredojones commented on #80
This behaviour is really annoying, has any progress been made on this? I can imagine that a tonne of people would be affected by it

[2015-07-01 08:49] ttwd80 commented on #115
it seems this only happens when there is a space.
for example, this same xml, without the attribute is completely legit.
[code]

however a single space
[code]
a single space on line 4 from ```<b/>``` to ```<b />``` causes atom to misbehave. Spaces are needed for the xml attributes, so this also happens if the middle element has any attributes.

[2015-07-01 14:19] gsmetal commented on #57
:+1:

[2015-07-02 17:30] despairblue commented on #102
FWIW: happened just to me. No idea how to get atom into this state, but when it's in this state:

# It happens when I try to open a new pane (`ctrl-k, right arrow`):
[Enter steps to reproduce below:]
**Atom Version**: 1.0.0
**System**: "Arch Linux"
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.76.0

### Stack Trace

Uncaught TypeError: Cannot read property

[2015-07-02 17:33] despairblue commented on #102
btw closing the buffer and opening the same file again does not help. All other files work fine.

Reloading atom helps. I think this might have something to do with updating packages using apm while atom is running. Just a hunch.

[2015-07-04 13:08] WoodyWoodsta commented on #97
Was looking around for this feature today, couldn't find a package that does it! This would be a fantastic feature!

[2015-07-07 10:32] jbmyid commented on #6
+1

[2015-07-07 11:31] mnquintana commented on #6
Thanks for the feedback everyone! However, all these +1s and :+1:s are just adding noise, so to minimize that I'm going to lock this issue for now – we may unlock it once someone starts working on this enhancement to get further feedback.

[2015-07-11 03:24] aaronjensen opened #148 "remove-matching-brackets should be more flexible"
Currently, `remove-matching-brackets` acts as a normal backspace if you have a selection. Instead, it should act as `remove-brackets-from-selection` does. Furthermore, `remove-brackets-from-selection` (and the new `remove-matching-brackets`) should look just out outside of the selection for brackets if they're not found within the selection. This is a lot more usable and plays nicely with `select-

[2015-07-11 20:18] multiwebinc opened #149 "Documentation is missing keyboard shortcuts for Windows/Linux"
Link: https://atom.io/packages/bracket-matcher

Since I'm not using a Mac, I don't have a "cmd" key on my keyboard, but the documentation link above only lists keyboard shortcuts like: `ctrl-cmd-m`. Instructions for Windows/Linux keyboards should also be provided.

[2015-07-11 21:30] multiwebinc opened #150 "Highlight content between matching brackets when the cursor position is beside a bracket"
This is a feature I find useful from [Kate](http://kate-editor.org/) and I think would be useful in Atom too. When the cursor position is beside a bracket, it automatically highlights everything between there and the other matching bracket. This makes it easy to see where a code block ends. I find it useful when I have a large code block and I would like to quickly and easily see where it ends wit

[2015-07-12 12:55] welcomerobots opened #151 "optional keybindings ?"
in some keyboard layouts the binded keys for bracket-matcher disables the actual keys for brackets.
because these are the same as the key kombos for the bracket characters.
I have no option to change or disable these keys. so I cannot write code acutally.

[2015-07-12 12:56] #151 closed

[2015-07-12 12:57] welcomerobots commented on #151
_

[2015-07-12 17:46] sdaitzman commented on #150
:+1:

[2015-07-12 17:48] sdaitzman commented on #150
#30 seems the same to me

[2015-07-12 19:08] 50Wliu commented on #150
Thanks, @sdaitzman!  Closing this as a duplicate of #30.

[2015-07-12 19:08] #150 closed

[2015-07-12 19:22] sdaitzman commented on #30
:+1:

[2015-07-14 09:18] bojidar-bg commented on #149
Use Meta/Win key :smile:

[2015-07-14 10:19] nookiepl opened #152 "Quotes in Python with u prefixed strings"
If you add u (unicode) before quote bracket-matcher won't close it, ie.

    foo(u"

And if you close it manually you will get

    foo(u"""

[2015-07-15 16:42] 190n commented on #80
+1

[2015-07-18 16:37] cheneave opened #155 "Sometimes, the right bracket are not skipped"
Generally, when I type a left bracket, a right bracket are inserted automatically. Then I have typed in things inside the brackets and type a right bracket, the cursor will skip the right bracket.

However, sometimes, the right bracket will not be skipped, an extra right bracket will be inserted. It is not a serious problem but very annoying.

The problem occurs when I'm writing python code. I'm n

[2015-07-19 11:54] olmokramer opened #156 "Package doesn't deactivate correctly"
From https://discuss.atom.io/t/how-to-stop-the-autocomplete-when-i-do-or/19093/7

After I disabled the package, by clicking the deactivate button in the settings view, I still got auto-closing brackets and quotes. I had to restart Atom to get the package to actually disable. I saw that [main.coffee](https://github.com/atom/bracket-matcher/blob/master/lib/main.coffee) doesn't export a `deactivate`

[2015-07-19 15:55] budda commented on #102
Like @despairblue mentioned, I got the same error when opening a new view pane > split right.

[2015-07-20 17:25] davidthewatson opened #158 "Disabling autocomplete smart quotes not working on Mac OS X 10.10.4"
I have atom 1.0.2 installed on Mac OS X 10.10.4 with bracket-matcher 0.76.0. I want to turn off autocomplete on quotes. I checked autocomplete smart quotes and still get single and double quotes autocompleting after restarting atom. Is there something else I need to do?

[2015-07-20 17:26] davidthewatson opened #159 "Disabling autocomplete smart quotes not working"
I have atom 1.0.2 installed on Mac OS X 10.10.4 with bracket-matcher 0.76.0. I want to turn off autocomplete on quotes. I checked autocomplete smart quotes and still get single and double quotes autocompleting after restarting atom. Is there something else I need to do?

[2015-07-20 21:38] 50Wliu commented on #159
Closing in favor of #158.

[2015-07-20 21:38] #159 closed

[2015-07-20 22:28] tylerFowler commented on #102
Also seeing this when trying to split a new pane (both via shortcut & context menu) but only as of today.

[2015-07-22 05:27] jeancroy commented on #155
Do you have an example of code where it happens ?
Any chance it involve backslash character ?

[2015-07-22 15:38] bartlomiejwolk commented on #89
I have exactly the same problem as aftermathew. I'm using _Atom_ 1.0.2 and _markdown-toc_ 0.3.0.

[2015-07-22 15:53] jeancroy commented on #145
It's turned off here.
https://github.com/atom/bracket-matcher/blob/master/lib/bracket-matcher.coffee#L52

I believe the difficulty is context checking should we close tag or no.
Unconditionally inserting closing tag as if user typed it at all cursor position would be relatively easy i guess.

[2015-07-23 13:34] magic-lantern opened #162 "Autocomplete Smart Quotes setting does nothing"
Wether I have "Autocomplete Smart Quotes" checked or not, it always autocompletes quotes. I like bracket matching, but having to continuously delete extra quotes (and having it delete quotes for me when I don't want it to) is a pain.

[2015-07-23 14:49] jeremythings commented on #89
I am having same problem, Atom 1.0.0 and markdown-toc 0.3.0 on Linux Mint 17

[2015-07-23 15:33] dos1 commented on #102
Splitting a pane -> the same.

[2015-07-23 15:36] izuzak commented on #102
@dos1 @tylerFowler @budda Can you provide the list of packages you have installed? (`apm list --installed`) And also clarify if you've been able to reproduce this in safe mode, which version of Atom you're using and which OS?

Also /cc-ing @nathansobo to take a look just in case.

[2015-07-23 15:39] tylerFowler commented on #102
I disabled the package for a while and then reenabled it the next day and it actually seemed to be working fine.. Even though I didn't see an update for it. Bizarre.

[2015-07-23 15:42] dos1 commented on #102
Well, made my comment straight from Atom's error dialog. Then I disabled the module (still failed), restarted (it worked), and then reenabled the module - and it still works.

[2015-07-23 15:54] nathansobo commented on #102
The last selection is somehow getting removed from the editor, and I'm not sure how it's happening. I've added an assertion to report when it happens to our error tracker, but there's some noise right now caused by a legitimate situation where the selection is removed and then restored when splitting selections into lines. These spurious reports will be eliminated in the next release so hopefully

[2015-07-23 15:59] nathansobo commented on #102
It looks like a package called Sublime Style Column Selection is destroying the last selection in certain cases. Once we're sure none of our own packages do this, we should probably throw an error when this is attempted.

[2015-07-23 16:00] dos1 commented on #102
I don't have this package installed:
├── atom-beautify@0.28.8
├── atom-material-ui@0.5.9
├── atom-ternjs@0.7.0
├── atom-touch-events@0.20.0
├── autocomplete-modules@1.0.0
├── autocomplete-paths@1.0.2
├── autocomplete-python@0.5.3
├── autocomplete-sass@0.1.0
├── color-picker@2.0.11
├── file-type-icons@0.7.0
├── git-blame@0.4.5
├── git-plus@5.2.2
├── grunt-runner@0.11.0
├── hidpi@0.7.0
├── highlight

[2015-07-23 19:25] tylerFowler commented on #102
Ok it seems like this is still randomly cropping up, reloading the window fixes the issue. I'll go ahead and work in Atom safe mode for a while and see if it still happens.

My packages:
[code]

System:
OSX Yosemite on Early 2015 MBP w/ Atom Version 1.0.2 (latest)

[2015-07-23 22:06] tylerFowler commented on #102
Update: didn't happen in safe mode, though after I switched back to the regular Atom I found another nasty version of this where I'd get this error whenever I try to save (and the file won't save!).

[2015-07-24 00:27] 50Wliu commented on #162
Closing this as a duplicate of #158, please subscribe there for updates.

[2015-07-24 00:27] #162 closed

[2015-07-24 01:15] nathansobo commented on #102
Once I start throwing exceptions when removing the last selection we'll figure out when it's happening. It's also possible the bracket matcher is still attached to a destroyed editor (editors destroy all their selections when they are destroyed), but I don't know how that would happen.

[2015-07-24 13:29] jacekkopecky opened #163 "temporarily disabling bracket matching in code"
Is there a way of temporarily disabling bracket matching?

We would like to disable it in vim-mode's *replace* mode, which is basically over-write, see atom/vim-mode#792, and for operations such as `paste` that in vim-mode can't be implemented with `TextEditor::pasteText` ignored by bracket-matcher, and instead have to be implemented with `TextEditor::insertText` that triggers bracket-matcher.

[2015-07-24 16:08] itsadok opened #164 "skipOverExistingClosingBracket doesn't work after escape sequence"
Typing `"hello\n"` in a new window results in `"hello\n""`, with the caret placed before the last quote.

(Conversely, typing `"hello"` results in the more sensible result of `"hello"`.)

Looks like the problem is [here](https://github.com/atom/bracket-matcher/blob/a36bd33a2f0c3a8e19aba441e881360c57bbd44c/lib/bracket-matcher.coffee#L58), but I can't figure out what the original intention for `hasE

[2015-07-24 16:09] jeancroy commented on #164
Duplicate of https://github.com/atom/bracket-matcher/issues/80
Possible fix here https://github.com/atom/bracket-matcher/pull/160

[2015-07-24 16:18] itsadok commented on #164
Oops, sorry.

[2015-07-24 16:18] #164 closed

[2015-07-24 20:40] spencergibb commented on #121
+1 driving me crazy editing markdown

[2015-07-28 15:33] eighteyes commented on #102
Hit Cmd-K then right arrow seems to reproduce this pretty consistently

$ apm list
Built-in Atom packages (88)
├── archive-view@0.58.0
├── atom-dark-syntax@0.27.0
├── atom-dark-ui@0.49.0
├── atom-light-syntax@0.28.0
├── atom-light-ui@0.41.0
├── autocomplete-atom-api@0.9.0
├── autocomplete-css@0.8.0
├── autocomplete-html@0.7.2
├── autocomplete-plus@2.17.4
├── autocomplete-snippets@1.7.0
├── autoflo

[2015-07-28 15:53] seanlaff opened #165 "Access BracketMatcher object from another package?"
Hi there,

I was hoping to extend some of the functionality of this package into my own. In my package I am trying to apply styling to the block of code my cursor is currently in. I could easily achieve this functionality using some helper methods that are in the BracketMatcher class but I don't want to create another BracketMatcher object if this package already creates one. However, I don't thin

[2015-07-28 16:00] kevinsawicki commented on #165
It currently does not export any official API at this time. It could be added as a service with an API, what are you trying to use it for?

[2015-07-28 16:07] seanlaff commented on #165
Sublime's `BracketHighlighting` plugin has a feature called "High Visibility Mode" which highlights the scope you are currently in. It's really useful when you are working in messy nested javascript and html and want to visibility see which block you're in.

I wanted to create a package that is a thin wrapper around this bracket-matcher package that does customizable highlighting from start bracke

[2015-07-28 16:29] nathansobo commented on #102
@eighteyes Try uninstalling Sublime-style-column-selection as it's a known culprit here.

[2015-07-28 18:40] eighteyes commented on #102
ty :)

On Tue, Jul 28, 2015 at 12:29 PM, Nathan Sobo <notifications@github.com>
wrote:

[2015-07-28 19:47] kevinsawicki commented on #165
You could look into externally using the markers this package creates in https://github.com/atom/bracket-matcher/blob/2bc7df4cd47115caa70e41acdf815aa928f7b78f/lib/bracket-matcher-view.coffee#L179 as a starting point.

Otherwise your options are either to add it to this package, copy code from here, or directly require code from here (which would be fragile).

[2015-07-29 17:20] kevinsawicki commented on #122
Closing this out since it seems to be a keybinding conflict issue and not something fixable in the bracket-matcher package.

[2015-07-29 17:20] #122 closed

[2015-07-29 19:19] seanlaff commented on #165
Thanks for the clarification. I'm going to toy around with it and if I come up with anything I'll issue a PR to see what you think.

[2015-07-29 19:28] kevinsawicki commented on #165
Great, thanks, closing this out for now.

[2015-07-29 19:28] #165 closed

[2015-07-29 23:24] jacekkopecky opened #166 "unnecessary recursion"
[bracket-matcher.coffee#L86](https://github.com/atom/bracket-matcher/blob/21ac27bc870780be08459b8cc7287803639966e0/lib/bracket-matcher.coffee#L84) should probably be calling the original `@editor.insertText`, currently it calls the one created by `_.advise` on [L36](https://github.com/atom/bracket-matcher/blob/21ac27bc870780be08459b8cc7287803639966e0/lib/bracket-matcher.coffee#L36) which means bra

[2015-08-01 08:06] wmakeev commented on #125
@smlombardi, current line highlighting override bracket-matcher background.

You can set line background opacity:

[code]

[2015-08-01 15:13] JulianLeviston commented on #116
I can't really use Atom until this is addressed.

[2015-08-01 17:50] Hova10 opened #168 "Select Entire block of code"
Nvm,solved

[2015-08-01 20:37] #168 closed

[2015-08-05 21:41] drom commented on #102
[Enter steps to reproduce below:]

1. Open JavaScript file
2. Mouse-Right-Click >> Split Right

**Atom Version**: 1.0.3
**System**: "openSUSE 13.2
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.76.0

### Stack Trace

Uncaught TypeError: Cannot read property 'isEmpty' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[co

[2015-08-07 00:50] kevinsawicki commented on #85
I believe this has been fixed by soft wrap fixes to how markers are rendered in core, this package just positions the cursors.

Please comment if you are still seeing this on Atom 1.0.5+.

[2015-08-07 00:50] #85 closed

[2015-08-07 01:11] kevinsawicki commented on #107
I do think this has been resolved now, closing this out. Please comment if you still see this happening on Atom 1.0.5+

[2015-08-07 01:11] #107 closed

[2015-08-12 15:52] adamgall commented on #89
+1 with Atom 1.0.5 and markdown-toc 0.3.0

[2015-08-17 18:43] drom commented on #102
it is annoying :disappointed:

[2015-08-18 04:15] artivilla99 opened #169 "Uncaught Error: Cannot find module 'underscore-plus'"
![screen shot 2015-08-18 at 12 14 30 am](https://cloud.githubusercontent.com/assets/2120159/9322225/256af902-453e-11e5-86c9-6705bab23c39.png)

Steps taken:
1. Downloaded atom editor version 1.0.7 after being recommended by atom to upgrade to help resolve this issue.
2. Same issue on "Cannot find module 'underscore-plus' " is showin gup. Img attached.

**Atom Version**: 1.0.7
**System**: Mac OS X 1

[2015-08-19 13:53] johngeorgewright opened #170 "Rainbow"
Hey,

I was just about to attempt writing a package for rainbow parenthesis, to achieve something like the following:

![Rainbow Parens](https://doingmyprogramming.files.wordpress.com/2014/12/rainbow-delimeters.png)

During a bit of investigation I realised you've already done all the hard work of matching parenthesis in atom. It got me thinking, that maybe `bracket-matcher` could have configurati

[2015-08-19 19:44] thomasjo commented on #169
This package is bundled with Atom, so unless you're developing on the package (in which case you should only link it for dev mode) you should uninstall your manually installed copy.

And your problem is almost definitely caused by not having executed `apm install` from the repo after cloning.

[2015-08-19 19:44] #169 closed

[2015-08-21 09:07] zyklus opened #171 "Please include an option to not complete any quotes"
I find the quote matching annoying (mainly because it doesn't work right -- I constantly get double quotes all over the place which doesn't happen in ST3).

Until/if it's fixed, I would like to just disable it without disabling the other features of this package.

[2015-08-21 09:11] zyklus opened #172 "Typing '\n' yields '\n''"
![quotes](https://cloud.githubusercontent.com/assets/320562/9405125/94df45b8-4827-11e5-9b85-35d34b15f165.gif)

[2015-08-24 21:14] jacekkopecky commented on #163
Any suggestions, please?

[2015-08-25 23:34] ottumm commented on #143
I'm not sure if this is related or not (I'm happy to open a separate issue if necessary):

The common case for me is typing an open quote, then typing the string, then typing the close quote. Sublime and other editors detect this and move over the closing quote rather than duplicating it, but atom duplicates the closing quote.

E.g. "my string that i'm trying to close""

[2015-08-26 00:28] 50Wliu commented on #143
@ottumm Atom already does this (see below for my steps).  What Atom version are you on?  If on 1.0.7, can you please try reproducing your issue in safe mode (`atom --safe`)?  Thanks.

1. Open a new file
2. Type `"`
3. jsfldskjf
4. Type `"`.  The automatic closing quote that Atom inserted in step 2 is automatically skipped.

[2015-08-26 18:08] ottumm commented on #143
@50Wliu I updated Atom to 1.0.7 and it's working correctly. Thanks, and sorry for the noise on this thread.

[2015-08-26 18:45] 50Wliu commented on #143
No problem, glad you're on the latest version of Atom now :smile:.

[2015-08-27 00:40] #102 closed

[2015-08-27 16:25] jacobmischka commented on #28
I'm assuming this is the same backend problem as #172. It seems like trying to type special escaped characters like `\n` and `\t` breaks this as well, and has for a long time.

[2015-08-27 17:28] kayone opened #173 "Uncaught TypeError: Cannot read property 'isEmpty' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.7
**System**: Mac OS X 10.10.5
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.76.0

### Stack Trace

Uncaught TypeError: Cannot read property 'isEmpty' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-28 09:02] bojidar-bg opened #174 "Highlight unmatched brackets"
Sometimes when I code, I leave a good amount of unmatched brackes behind (like `{[....}`)

It would be nice if they were highlighted, so I won't have to search them :wink:

[2015-08-31 19:12] dander401 commented on #88
Sorry for lack of proper format... Im very new to this and not sure what really to do....
I cannot reproduce this on command, but have been affected when the following criteria is met.
    2 Panes with the same file open at different positions
    give another application focus
    return focus to Atom
    change active pane
    undo a change

Once it starts, I cannot type or change panes and have

[2015-08-31 19:52] 50Wliu commented on #88
@dander401 You already did pretty well with how you reported the bug - most people just leave the "steps to reproduce" section blank.

[2015-09-01 12:59] jeancroy commented on #172
I beleive https://github.com/atom/bracket-matcher/pull/160 cover this.

[2015-09-01 13:58] 50Wliu commented on #172
Thanks @jeancroy.  This is also a duplicate of #80.

[2015-09-01 13:58] #172 closed

[2015-09-07 13:56] zwacky commented on #88
[Enter steps to reproduce below:]

1. (not 100% sure) think i was tabbing between tabs with cmd+[1-3] and then did cmd-z

**Atom Version**: 1.0.10
**System**: Mac OS X 10.10.5
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.76.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getScreenPosition' of undefined

[code]

### Commands

[code]

### Conf

[2015-09-09 19:33] patrickhpan commented on #121
+1 on LaTeX. Driving me crazy because switching between coding (where I am physically dependent on bracket autocompletion) and LaTeX (which is undoable with buggy completion) is really getting annoying because I have to re-enable and disable the package.

[2015-09-11 16:32] denysbutenko commented on #63
:+1: must-have feature.

[2015-09-11 17:48] aknuds1 opened #178 "Uncaught Error: This TextEditor has been destroyed"
Not sure how to reproduce.

**Atom Version**: 1.0.11
**System**: Mac OS X 10.9.5
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.76.0

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-13 01:51] sgentle commented on #158
I came here with the same issue - after some research it appears to be mostly an expectation-setting problem. I assumed "smart" in this case meant that the quotes were inserted in a smart way, though the use here is as a synonym for "curly quotes".

[The relevant part of the code](https://github.com/atom/bracket-matcher/blob/beb7bf6cbd1e78a38c9764047e9efdf8c1cc4b59/lib/bracket-matcher.coffee#L5) c

[2015-09-14 16:17] lee-dohm commented on #158
Probably adding a description field would be good too.

[2015-09-15 13:13] izuzak commented on #67
Closing this since we were unable to reproduce (I just tried now and failed), and there haven't been any new reports about this for over a year.

[2015-09-15 13:13] #67 closed

[2015-09-17 06:26] junaidbhura commented on #117
+1 this would be great to have - such an important part of my workflow!

[2015-09-17 15:18] izuzak commented on #21
Seems like this isn't related only to closing quotes but to opening quotes as well:

![bracket](https://cloud.githubusercontent.com/assets/38924/9937224/1a6c59a8-5d60-11e5-8096-83570a62fb44.gif)

Also see https://github.com/atom/bracket-matcher/issues/86 for a similar report.

[2015-09-17 15:21] izuzak commented on #86
Sorry for the delay in getting back to you on this and thanks for providing those examples. Those examples show that the package behaves the same way if you press `'` and `"` (paired quotes added before a non-word character). That sounds very similar to https://github.com/atom/bracket-matcher/issues/21 so I've added a comment there about this: https://github.com/atom/bracket-matcher/issues/21#issu

[2015-09-17 15:21] #86 closed

[2015-09-21 10:42] m-bra commented on #121
+1 for rust

[2015-09-21 12:25] slikts commented on #178
It's because of ctrl-last-tab.

Reproduce: Open 2 tabs, press Ctrl-Tab, then Ctrl-Shift-Tab and the error happens.

[2015-09-22 07:42] izuzak commented on #178
Thanks for the help in reproducing this, @slikts -- I was able to trigger this exception using your steps with the ctrl-last-tab package.

@nathansobo wondering if you have any thoughts about this? Is this something we should guard against somehow or make sure it gets blamed on a different package?

[2015-09-22 13:40] nathansobo commented on #178
I'm still having trouble reproducing this on master with the latest ctrl-last-tab package.

[2015-09-22 13:44] nathansobo commented on #178
Okay, I was able to cause it after closing one of the tabs... investigating.

[2015-09-22 13:52] nathansobo commented on #178
That package is adding destroyed pane items... check out my PR that guards against that happening by throwing an exception immediately.

[2015-09-22 16:57] #178 closed

[2015-09-25 20:45] musopr commented on #94
I would also like to see a custom bracket feature.The ability to match delimiters like `$` or `\{` in Latex math expressions would be excellent :)

[2015-09-26 21:13] cynecx commented on #78
Any updates on this ?

[2015-09-28 06:54] burodepeper opened #179 "Enhancement: highlight indent-guides between matching brackets"
Similar to #47 I would like to be able to highlight the indent-guides between two matching brackets that are on different lines.

[2015-09-30 14:34] jwhitmarsh commented on #63
:+1:

[2015-10-01 14:43] quatrezoneilles commented on #116
How can thousands and thousands of atom users put up with this?  This is a major issue!

[2015-10-01 15:58] GetContented commented on #116
@quatrezoneilles maybe they don't notice ;-)

[2015-10-01 21:38] radicaled commented on #173
I have a file I can't edit in Atom because of this -- and temporarily disabling the package doesn't seem to remove whatever event listeners there are that trigger this, so it means I have to disable this package, restart Atom, and only then can I edit this file.

[2015-10-02 21:17] izuzak commented on #173
@radicaled Can you share that file so that we can try and reproduce the problem? And just to make sure,  are you able to reproduce this problem in Atom 1.0.19 in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)?

[2015-10-02 22:16] radicaled commented on #173
https://gist.github.com/radicaled/e130e4624fbe58cdbfcf

Frustratingly enough, I'm now unable to reproduce this problem anymore. After I finished working on the files (I was editing the above file in vim), I closed all my tabs and restarted Atom, and then... poof, no more error. The version of the file in the gist is pretty close to the original state when the error occurred. Hope it still helps.

[2015-10-03 06:47] izuzak commented on #173
Thanks, @radicaled. Unfortunately, I'm unable to reproduce the problem with that file as well. If you manage to reproduce this again, we'd appreciate if you could post the version which is causing problems.

[2015-10-03 06:57] izuzak commented on #173
@radicaled And just to double-check something -- which version of Atom were you using when you noticed this exception?

[2015-10-03 14:45] radicaled commented on #173
Atom 1.0.7

I'll keep a look out for this issue.

[2015-10-03 19:10] izuzak commented on #173
Thanks, @radicaled. After looking into this a bit more, I think this is a duplicate of https://github.com/atom/bracket-matcher/issues/102 and was fixed by https://github.com/atom/atom/pull/8531 which was a part of Atom 1.0.8. In other words, you should no longer see this issue if you upgrade to the latest version of Atom (1.0.19), since you were on an old version which still had this problem. If y

[2015-10-03 19:10] #173 closed

[2015-10-05 00:03] RobertoOropezaG commented on #97
Hi, I've just added this feature and made a pull request, so this feature should be soon in master :)

This is how it looks with my favorite syntax theme:

![Screen Capture 2015-10-04 a las 20 01 35](https://cloud.githubusercontent.com/assets/3051057/10271077/d525091e-6ad2-11e5-8803-27ee8bda98c9.png)

https://github.com/atom/bracket-matcher/pull/180

[2015-10-06 16:25] derekdreery commented on #171
I believe this is already possible in the settings for the module.

[2015-10-06 16:56] derekdreery commented on #121
Does anyone have any ideas about how to achieve this? Could you add the ability to register a boolean function where returning false aborts the bracket add? Something like

[code]

PS I'm from Rust

[2015-10-06 16:57] derekdreery commented on #121
It should at least be easy to add settings to configure which types of brackets should be matched

[2015-10-08 08:40] nerssi commented on #80
This is such an aggravating and frequently encountered bug, at least for me. Is anyone aware of any way to circumvent this issue in the meanwhile until it is fixed, via a package perhaps?

[2015-10-12 14:45] mikpatte commented on #63
:+1:  Been waiting for this for quite some time. This is a great feature in WebStorm

[2015-10-14 23:22] slang800 commented on #171
@zyklus: What isn't working right with it? Could you do a screen recording, or write out an explanation or something?

@derekdreery: Nah, that's just for smart quotes, it sounds like @zyklus wants to disable _all_ quotes.

[2015-10-18 02:46] RobertoOropezaG commented on #138
I'll take care of this issue, should I create a new branch or just work in my current master fork?

[2015-10-18 16:17] lee-dohm commented on #138
I generally find that it is best if you create a branch for changes even if working in your own fork. That way if others want to contribute to your PR, it makes it easier.

[2015-10-19 10:56] isiahmeadows opened #182 "Feature request: customize opening/closing brackets/etc. per-language"
## Problem

The current set is a very sensible default for many C-based languages, but several languages, such as Haskell, OCaml, and various Lisps, use some of those characters for other reasons. Examples:

- `'` (single quote)
  - It's a valid identifier character in Haskell, as long as it's not the first. OCaml accepts it anywhere, and it's frequently used in function arguments. `foo'`, `foo''`

[2015-10-21 01:53] tanvstan opened #183 "Issue about Go to matching bracket"
Go to matching bracket can't tell whether the right bracket is a real bracket or just a letter in a string.
For example, '}', 'this is not a ) bracket', Go to matching bracket will regard them as bracket.

[2015-10-21 01:56] 50Wliu commented on #183
I'm going to close this in favor of #78 - please subscribe there for updates.

[2015-10-21 01:56] #183 closed

[2015-10-22 10:26] dessant commented on #143
This also applies to brackets: `[]"test"]`, `print()"test")`.

[2015-10-25 20:35] RobertoOropezaG commented on #138
Hi, how can I use BracketMatcherView.findMatchingEndPair method from BracketMatcher class? I would like to use that method to achieve (OP expected result):
var x = "hello";
---->  outcome 2 (delightful): the line becomes var x = 'hello';

[2015-10-28 22:06] sainthardawa commented on #63
:100:

[2015-10-28 23:34] thecatontheflat commented on #63
:+1: :cat:

[2015-10-29 08:07] Libirdie commented on #63
+1

[2015-10-29 08:07] mrYegor commented on #63
+1

[2015-10-29 22:58] jakegavin commented on #7
![autoindent](https://cloud.githubusercontent.com/assets/5965895/10834249/f69dbb46-7e54-11e5-8378-1a20f9a34a59.gif)

This should be indenting line 3, right?
I'm new to Atom so maybe I have something configured wrong but I have the global setting for Auto Indent enabled. Language is set to ruby.

Atom 1.1.0
Bracket Matcher 0.78.0

[2015-11-02 08:29] cometeer commented on #97
Anything happening with this?

[2015-11-05 22:33] ndbeals commented on #28
I have this issue as well (as of Atom 1.1.0). I have narrowed it down to only occuring when autocomplete snippets are used instead of typing the brackets myself.

[2015-11-06 16:49] leovailati commented on #171
+1
Some programming languages (I can mention lisps, rust and MATLAB) have syntax for single quote marks, e.g. `'(a b c)`, `&'static str`, `Type<'a>`, `matrix'`. It is annoying when the second tick is automatically inserted when it shouldn't be. However, it is still very convenient to have double quote marks and brackets completed. It would be nice to have an option to avoid the automatic completio

[2015-11-10 08:32] iahu opened #184 "issue with escaped bracket string"
[code]

I think "bracket matcher" should not match the escaped bracket.
Atom's `getStartBufferPosition` also has the same problem, as that the `goToMatchingPair` function also can't get the right bracket.

[2015-11-10 12:48] fv0 commented on #63
YES.

[2015-11-10 13:06] quaritexa opened #185 "Uncaught TypeError: Cannot read property 'clipScreenColumn' of undefined"
[Enter steps to reproduce below:]

1. Error raised when I paste text to new file on split panel created via Split Diff plugin

**Atom Version**: 1.2.0-beta1
**System**: Mac OS X 10.9.5
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.79.0

### Stack Trace

Uncaught TypeError: Cannot read property 'clipScreenColumn' of undefined

[code]

### Commands

[code]

[2015-11-11 17:02] izuzak commented on #184
Thanks for the feedback, @iahu -- I think this is already being tracked in https://github.com/atom/bracket-matcher/issues/23, so I'm going to close this in favor of that issue. If I misunderstood your report, can you clearly explain the difference between #23?

[2015-11-11 17:02] #184 closed

[2015-11-12 01:40] 50Wliu commented on #54
Closing in favor of atom/atom-keymap#35.  Please try installing the [keyboard-localization](https://atom.io/packages/keyboard-localization) package.

[2015-11-12 01:40] #54 closed

[2015-11-12 01:40] 50Wliu commented on #100
Closing as a duplicate of atom/atom-keymap#35.

[2015-11-12 01:40] #100 closed

[2015-11-12 04:07] AdamPflug opened #186 "Auto-close html tag when you start a closing tag"
I would love it if typing "</" would automatically close the current html tag (same behavior as "cmd-alt-."). This is the default behavior for Sublime Text 3 so I think it's probably a behavior a lot of new atom users are expecting.

[2015-11-13 19:29] loveencounterflow commented on #121
+1 for the ability to configure matching character pairs with ease. That should probably include per-language-settings; those would probably optionally have to be made from the respective language-specific plugin.

Also see https://discuss.atom.io/t/add-bracket-pairs-to-highlighting-auto-insertion/22673; not sure which of the forums is the appropriate one for discussions like this.

[2015-11-15 10:12] zacharyaugustine opened #187 "can't wrap selection in <> tag"
whereas selecting a string "wordswords" and typing `[` will wrap the string in brackets correctly, typing `<` does not do the same. Instead, it overwrites the selection as if the opening bracket were replacement text.

[2015-11-16 01:17] Jheysoon commented on #117
any updates ? . . .
:+1: in this feature

[2015-11-16 08:25] bjorkblom commented on #63
+1

[2015-11-16 16:42] PierBover opened #188 "selection extends to HTML tag bug"
Most of the time when using `ctrl + cmd + m` the selection expands to the text inside the HTML tag. But there are times when it includes some of the attributes of the HTML tag, which is undesired.

Here is an example:
![image](https://cloud.githubusercontent.com/assets/226483/11188024/8953e346-8c4e-11e5-9cb8-2ae4b0289008.png)

I'm on latest public release (0.79.0)

[2015-11-16 16:45] izuzak commented on #188
Thanks for the report, @PierBover. I think this is a duplicate of https://github.com/atom/bracket-matcher/issues/117 so I'm closing this in favor of that issue. Let me know if I misunderstood, though!

[2015-11-16 16:45] #188 closed

[2015-11-16 16:50] PierBover commented on #188
Thanks @izuzak. Yes, it seems to be the same issue.

Is anyone working on this? It seems it was reported 6 months ago.

[2015-11-16 16:51] izuzak commented on #188
I'm not aware of anyone working on it. If you'd like to work on it -- please feel free to do so and submit a pull request.

[2015-11-18 11:07] maxlevesque commented on #170
That would be amazing.

[2015-11-22 01:44] AMKARTHIK opened #190 "ctrl - alt + . Cant match the html open close tags"
For Example
If we have a code like below

<html>
<div>
    <span />
    <span />

And after i wish to close the remaining tags with ctrl - alt + .

it will close like below

<html>
<div>
    <span />
    <span />
</spa

n>
</span>
</div>
</html>
[Git Error.txt](https://github.com/atom/bracket-matcher/files/40965/Git.Error.txt)

[2015-11-22 05:27] lee-dohm commented on #190
Can you be a little more specific about what it is that's going wrong? Can you record a GIF or include in the text of your post a before and after description?

[2015-11-22 16:34] ULTIMATEUPGRADE commented on #190
Hi @lee-dohm
In the below attachment I explained about the problem as comment.
[Git Error.txt](https://github.com/atom/bracket-matcher/files/41088/Git.Error.txt)

[2015-11-22 17:14] lee-dohm commented on #190
Could you include the text inside your comments? I get nervous when people expect me to download random files on the Internet. I'm sure you can understand :grinning:

If you need help formatting your message to include the information in an understandable way, GitHub offers [help on code formatting](https://help.github.com/articles/markdown-basics/#code-formatting).

[2015-11-22 17:41] ULTIMATEUPGRADE commented on #190
Sorry
I can't understand what you saying
i will paste the code below
[code]

[2015-11-24 17:01] ULTIMATEUPGRADE commented on #190
Hi @lee-dohm

Did you addressed the issue

[2015-11-27 09:04] InnerPeace080 opened #191 "not ignore bracket in comment"
when i comment a line have a bracket like this (js file)

foo (){
// foo2(){
}

when i click close bracket, it highlight open bracket in comment .

[2015-11-27 14:27] izuzak commented on #191
Thanks for the report, @InnerPeace080. This looks like a duplicate of https://github.com/atom/bracket-matcher/issues/78 so I'm going to close this in favor of that issue. :v:

[2015-11-27 14:27] #191 closed

[2015-11-29 15:03] RobertoOropezaG commented on #97
Hey, is there something else I can do to get this fix merged in main package? I've fixed it and pushed almost two months ago...

[2015-11-30 20:47] joedaniels29 commented on #182
seconding an idea like this. typing ```#'```in lisp is quite difficult.

[2015-11-30 23:59] adambuczynski commented on #155
This issue happens to me as well, when I double click a word which I want to replace with brackets. Upon double clicking and typing `[`, the selected word actually gets surrounded by `[...]` rather than replaced by it, and then when typing a closing bracket, you end up with `[]]`

[2015-12-02 19:11] vvMINOvv commented on #140
+1 agreed,

Sublime does this pretty well

[2015-12-02 22:38] appsforartists opened #192 "select-inside-brackets doesn't select all cursors"
## Steps to Reproduce

1. Take a list of kebab-case strings and wrap them with `[]()`:

         [link-1](http://example.com/)
         [another-link-2](http://example.com/)
         [yet-another-link-3](http://example.com/)
         [final-link-4](http://example.com/)

2. Insert a cursor into each `[]` pair with the `add-selection-below` command.
3. Cmd+Ctrl+M to `select-inside-brackets`.

## Exp

[2015-12-03 16:42] lee-dohm opened #193 "<script tag not detect close tag"
_From @PTKDev on December 3, 2015 14:50_

Hi!
I select with mouse `<script>` open tag but not appear underline on open/close tag:
![Screenshot](http://openftp.ptkdev.it/Share/img/script_tag_atom.png)

With `<div>` and other tag underline appear:
![Screenshot](http://openftp.ptkdev.it/Share/img/script_tag_atom_work.png)

_Copied from original issue: atom/atom#9932_

[2015-12-03 18:38] slauyama commented on #192
I would love to see this feature in atom, especially as sublime has this feature

[2015-12-03 18:46] kebno commented on #158
I see the same.
OS X 10.11.1
Atom 1.2.4 (fully updated)

[2015-12-03 18:48] kebno commented on #171
+1 for @leovailati solution.  Fine-grained control would be nice.

[2015-12-03 19:14] kebno commented on #143
![out](https://cloud.githubusercontent.com/assets/1569364/11570939/b337eafa-99ae-11e5-9ad3-6407128d4059.gif)

I run into this every day.   Happens when I add a newline character.
I have only tested with C-language files.

Atom 1.2.4 (fully updated), OS X 10.11.1

[2015-12-03 19:16] kebno commented on #80
![out](https://cloud.githubusercontent.com/assets/1569364/11571048/4429ac74-99af-11e5-9dcd-efba44f449db.gif)

I am bothered by this every day.
Atom 1.2.4, OS X 10.11.1

[2015-12-03 19:18] kebno commented on #143
This appears to be related to #80.  (I posted my above comment there too)

[2015-12-04 19:35] appsforartists commented on #192
It looks like there's a fairly simple solution for this:  On [this line](https://github.com/atom/bracket-matcher/blob/31514b948084c19dffb525aa1032b53a6e9035cb/lib/bracket-matcher-view.coffee#L259), `getCursorBufferPosition` should be plural and you can iterate over all the cursors it gives back.

If I run into this again, I'll put together a PR.

[2015-12-05 17:01] lifewithjoy opened #194 "Wrong selection in HTML inside elements with class or id"
Hi!

![atom-bracketmatch-issue](https://cloud.githubusercontent.com/assets/1360242/11609016/a197e19e-9b82-11e5-97e0-73db6bc4dda4.jpg)

I noticed such issue, when I tried to select html code inside div class="lists" selection start from 'class="lists"'. It's not a big problem when you have a short part of the  code but this decrease speed of coding when you try to manipulate with many lines of code

[2015-12-05 17:05] izuzak commented on #194
Thanks for the report, @lifewithjoy. I think this is a duplicate of https://github.com/atom/bracket-matcher/issues/117 so I'm going to close this in favor of that issue. Let me know if I misunderstood, though.  :v:

[2015-12-05 17:05] #194 closed

[2015-12-05 20:48] bringingkatigbak opened #195 "How to always highlight nearest matching bracket pair?"
Hi,

If I have an open bracket on line 1, code on lines 2-4 then the closing bracket on like 5. When my cursor is on either lines 1 or 5, the matching bracket is highlighted as expected. However, as I am working on lines 2-4, the highlight on the matching bracket goes away.

How could I make it stay? I have it this way in sublime and really like it.

TIA!

Niko

[2015-12-06 05:49] lee-dohm commented on #195
There currently isn't support for this feature, but there is an open Issue for it already at https://github.com/atom/bracket-matcher/issues/57. Please subscribe there for updates and thanks for reporting!

[2015-12-06 05:49] #195 closed

[2015-12-07 21:37] branefreez commented on #182
I third this feature request. I am really getting annoyed with having to manually remove auto-closed backticks in Perl6 with multiline comments of the style #`(COMMENT). I really would hate to have to disable bracket-matcher.

[code]

[2015-12-08 15:08] ricardograca commented on #149
The advise in the previous comment is incorrect. It should be the `Alt` key instead.

[2015-12-08 15:11] ricardograca commented on #193
For completeness, if both the opening and closing `<script>` tags are on the same line, the underline does appear correctly on both.

[2015-12-09 10:41] ArtRiduet commented on #57
:+1:

[2015-12-09 19:10] slang800 commented on #192
+1 - ran into the same problem today

[2015-12-09 20:22] otherjoel commented on #182
Another vote in favour. Manually disabling per language is a pain!

[2015-12-09 23:00] slauyama commented on #192
It also seems like bracket matcher as a whole doesn't work well with multiple selections. `ctrl+m` also fails to work with multiple selections

[2015-12-10 15:21] jiyinyiyong opened #198 "Parentheses not autocompleted after backslash"
This case appear to be very rough to me and open parenthesis is not correctly closed after a `\`

[code]
https://github.com/atom/bracket-matcher/blob/master/lib/bracket-matcher.coffee#L63

It appear to be very annoying to me, can you make it smarter? How about using `/\\$/` instead of `/\\/g`?

[2015-12-11 12:05] jewkub opened #199 "Need to detect "{ ( } )" as wrong parenthesis"
Don't match the overlap parenthesis as common

[2015-12-11 18:27] rufhausen opened #200 "Disable bracket matching when right-adjacent character is present."
I realize others may have a different workflow for adding braces to an existing code block, but every other editor I've used with bracket matching will disable the closing bracket when the cursor is up against an existing character to the right, so I end up with:

[code]

instead of this everytime:

[code]

[2015-12-14 01:12] jacquescrocker commented on #171
+1 for @leovailati solution as well. single quote is also valid syntax for starting a line on slim (templating language)

[2015-12-15 22:14] heisian commented on #94
definitely +1 on this - for e.g. when using Blade within Laravel to match {!! !!}

[2015-12-16 10:14] arturparkhisenko commented on #199
@jewkub @kevinsawicki  another example:
[code]
Screenshot:
![match](https://cloud.githubusercontent.com/assets/139212/11837931/86bb948e-a3ec-11e5-830a-4c8bb9b96046.png)

[2015-12-16 15:40] Ceyaje opened #202 "Braces in strings are matched as if they are code."
I do a lot of preprocessing utilities, so I have quite a few sections of code that look like this:

[code]

Of course, the opening brace is being matched with the brace in the string instead of the actual brace. I'm rather upset because I really wanted to switch to Atom since it seems very well featured compared to Brackets, but I'll have to go back. I'm going to keep an eye on this issue though.

[2015-12-16 16:39] 50Wliu commented on #202
This is a duplicate of #78 - please subscribe there for updates.

[2015-12-16 16:39] #202 closed

[2015-12-18 20:47] ts-web commented on #200
+1

[2015-12-18 20:51] ts-web commented on #171
+1

The behavior is a bit over-eager sometimes. Example:
in JS, try to replace a `"` with an `'`. Highlight the `"`, press `'`, see the result: `'"'`. Syntax highlighting temporarily messed up. Press Delete twice to delete the two extra characters. Repeat for opposite quote mark.

[2015-12-22 04:07] MadcapJake commented on #182
Another vote for this and another with regards to Perl 6:  there are actually numerous supported enclosing delimiters in the language (most non-letter characters).

Also in template languages there are a lot of unique delimiters chosen out of a need to be different enough to not show up in someone's actual content.

Another language I use (Nit) has a special set of brackets for native code:
[code]

[2015-12-25 06:27] WalterGR commented on #80
Just an FYI, the general problem - backslashes preventing the automatic 'eating' of closing punctuation when typed manually - applies to all closing punctuation, not just single and double quotes.

In Clojure, for example, typing `(str h)` results in

    (str h)

Typing `(str \h)` results in

    (str \h))

[2015-12-25 20:39] LendLord commented on #57
:+1:

[2015-12-25 20:41] LendLord commented on #97
up

[2015-12-29 18:14] jordn commented on #200
+1

[2016-01-02 16:17] VoronaPavel commented on #186
+1 would be nice

[2016-01-02 16:22] pvorona opened #203 "bracket-matcher:close-tag does not skip self-closing tags"
[code]

When i use command to close tag, i get `</SimplePlot>` which is already self-closed. I should get `</Scalable>` instead.

[2016-01-02 23:35] lee-dohm commented on #203
Reproduced using Atom v1.3.2 on Mac OS X 10.11.2.

[2016-01-03 04:26] AdamPflug commented on #186
For now, I'm just using this:
https://atom.io/packages/less-than-slash

[2016-01-03 15:23] VoronaPavel commented on #186
I found that useful as well https://atom.io/packages/autoclose-html
But here is one more package that does same thing https://atom.io/packages/tag probably they should interact somehow to bring this functionality into core.

[2016-01-10 20:56] tklepzig commented on #63
+1

[2016-01-11 13:13] esseb opened #205 "Autocomplete of backticks doesn't work when using keyboard locale with dead keys"
Autocompleting of backticks was added in https://github.com/atom/bracket-matcher/issues/32, but when using a keyboard locale with dead keys it doesn't work as expected.

Steps to reproduce:
1. Switch to a keyboard locale with dead keys support (I use "Norwegian Bokmål - Norwegian Extended" on Mac)
2. Select a word in Atom
3. Type a backtick (I need to press &lt;shift&gt; and the key left of backsp

[2016-01-11 13:16] esseb commented on #205
Tested using Atom v1.3.3

Perhaps a custom package is the way to solve this issue. I'd still need a way to somehow prevent the OS level dead key feature, unless I'm somehow able to trigger and undo action.

[2016-01-11 23:29] lee-dohm commented on #205
This sounds like it is related to atom/atom-keymap#37.

[2016-01-12 12:44] esseb commented on #205
I don't think so. The shortcut does work, as evidenced by pressing cmd+z, it's just that the dead key behaviour triggers in addition afterwards.

[2016-01-12 17:46] lee-dohm commented on #205
Hmmmmm ok. I'll see if anyone on the team has experience with key mappings for dead keys.

[2016-01-12 19:10] abe33 commented on #205
Behaviour of dead keys is always a bit tricky, but as far as I can tell it works properly.

Let me explain:

When pressing the backtick once, the keystroke isn't complete, that the concept behind dead keys, you'll need to press another key for the dead key to be resolved.
Using the space key is generally the way to get the dead character only, pressing any other key will attempt to resolve the dea

[2016-01-13 01:06] lee-dohm commented on #205
Thanks @abe33!

@esseb I agree with @abe33 that this should be a won't fix unless there is something that we're missing. I'm going to mark it as such and close the Issue. If there is anything we're missing, please let us know!

Thanks for contributing to Atom @esseb!

[2016-01-13 01:06] #205 closed

[2016-01-13 02:37] kinduff commented on #78
Still happening, looks like #105 is missing some test cases.

**Package Version**: 0.79.0
**Atom Version**: 1.3.3
**OS**: 10.10.5

![lguckfatdp](https://cloud.githubusercontent.com/assets/1270156/12283434/cd6f8586-b96b-11e5-87a1-8d7acdc58456.gif)
Editor language is Javascript.

[2016-01-13 03:44] njpaul commented on #155
I agree that this is annoying behavior. Here's how to reproduce it:

1. Enter a bracket: ```[```. The result will be ```[]```, with the cursor positioned between brackets.
2. Enter a closing bracket ```]```. The cursor will move to the right of the closing bracket, as expected.
3. Press the left arrow key to place the cursor between the two brackets again.
4. Enter another closing bracket. This ti

[2016-01-13 07:46] isiahmeadows commented on #78
Yeah... I've just gotten to the point of ignoring it, simply because I've
half given up on waiting for a fix.

On Tue, Jan 12, 2016, 21:37 kinduff <notifications@github.com> wrote:

[2016-01-13 11:45] esseb commented on #205
@abe33 all right, that seems reasonable. Closing the issue. Thanks for investigating.

[2016-01-13 17:26] jeancroy commented on #155
I think this is what happens.

- On completing a bracket, an active bracket pair is stored.
- On insertion, check if char is the closing character of the pair, if so, skip.

I'm not sure if `look to the immediate right` strategy can works without a state to know what is needed.

[2016-01-13 17:57] njpaul commented on #155
Double checking with another editor (Notepad++) the behavior is the same as observed here...so there is precedence/familiarity that can be claimed with the current behavior. That said, it would still be nice to find some solution to this "issue". I haven't looked at other editors to see what they do, but I assume other people have?

[2016-01-13 18:33] jeancroy commented on #155
The thing I guess it that sometime double bracket are valid like `[[ ]]` and `{{ }}`

So the current behavior ensure that typing `[` then `]` works as expected. But still allow correction to more complex pattern.

[2016-01-13 20:08] VjeraTurk commented on #69
2016. still not fixed

[2016-01-17 23:21] WalterGR commented on #170
I haven't tried it, but someone released a package recently that ostensibly does this: "My first package released (Coloured brackets)" - https://discuss.atom.io/t/my-first-package-released-coloured-brackets/21261.

[2016-01-17 23:25] WalterGR commented on #84
Dupe of #170: "Rainbow"?

In any case, someone recently released a package that ostensibly does something similar: "My first package released (Coloured brackets)" - https://discuss.atom.io/t/my-first-package-released-coloured-brackets/21261.  I haven't tried it, but it might help.

[2016-01-17 23:50] WalterGR opened #206 "When matching a closing bracket, the previous character should be used"
It's fairly customary to match closing brackets based on the previous character - i.e. the character the user just typed.

Atom matches based on the current character - i.e. the character the user may or may not type in the future:

![atom-highlights-next-bracket--resized](https://cloud.githubusercontent.com/assets/380880/12380762/8f621f84-bd2f-11e5-9cf0-65bf9bf76e94.png)

Most other editors do lo

[2016-01-18 00:17] 50Wliu commented on #84
Thanks @WalterGR - this seems similar enough to #170, so let's keep the conversation unified over there.

[2016-01-18 00:17] #84 closed

[2016-01-18 11:41] tony612 commented on #23
Any progress for this issue?

[2016-01-22 00:46] WalterGR commented on #206
I've done the work locally to change this behavior.

Is this something that the Atom devs are willing to change, or willing to make controllable via a setting?

Atom's current behavior isn't cut out programming in Lisp-derived languages.

[2016-01-24 15:38] fruggiero opened #207 "JS: incorrect bracket matching"
![image](https://cloud.githubusercontent.com/assets/4760358/12537154/5516d552-c2b8-11e5-8d31-6cd7164f6862.png)

Looks like it doesn't ignore brackets inside comments.

Atom version:  1.4.0

[2016-01-24 20:40] 50Wliu commented on #207
Hi @fruggiero, this is a duplicate of #23 and #78 - please subscribe there for updates.

[2016-01-24 20:40] #207 closed

[2016-01-27 04:17] Epitaph64 commented on #78
I can confirm it happening with the PHP grammar as well.

[2016-01-27 12:42] HammadTheBoss commented on #200
+1

[2016-01-27 23:54] dbachko opened #208 "Incorrect tag highlight"
Steps to reproduce:
1. Create tag
2. Add attribute for this tag on a new line
3. Click on closing tag

![incorrect-tag-highlight](https://cloud.githubusercontent.com/assets/9260214/12632606/22c7fc4a-c527-11e5-9e18-aa26ddee01ed.png)

Shows correctly if selected open tag:
![correct-tag-highlight](https://cloud.githubusercontent.com/assets/9260214/12632605/22c521be-c527-11e5-9b58-ea9bc0847630.png)

[2016-01-29 11:51] davisford opened #209 "Golang bracket indentation"
Try this golang code in the editor:

expected:

[code]

actual:

[code]

The bracket matching seems to get confused by the appearance of a second set of brackets (i.e. the slice initializer), and it always places it on the first character of the next newline when `enter` is committed.

[2016-01-29 17:20] lee-dohm commented on #209
/cc @50Wliu

[2016-01-29 20:19] 50Wliu commented on #209
As I mentioned in atom/language-go#86, please move this issue over to the language-go repository.  Thanks!

[2016-01-29 20:19] #209 closed

[2016-02-01 10:17] tomasbedrich opened #210 "Auto-completion adding/removing unnecessary brackets"
When I have:

    else }

and I type an opening curly bracket after the `else` statement, I end up with this:

    else {}}

The same situation is with quotes and all other types of brackets, which is really annoying. Similar behaviour when deleting brackets:

    foo.then(bar();

After deleting the bracket after bar:

    foo.then(bar;

[2016-02-02 02:33] josh18 opened #211 "The ability to only show the highlights on [], (), and {}"
I would like to only show the highlights on `[]`, `()`, and `{}` and not on html tags, is this possible?

[2016-02-02 05:12] lee-dohm commented on #211
Not currently, the classes assigned to the highlights are the same. Are you making a feature request?

[2016-02-02 05:19] josh18 commented on #211
Yes, would you prefer if I made a new issue or just renamed the title on this one? I just wanted to make sure I wasn't requesting an already existing feature.

[2016-02-02 05:22] lee-dohm commented on #211
Go ahead and reuse this one :grinning:

[2016-02-02 19:38] glowdemon1 commented on #69
A solution for my Belgian (nl_be) layout was to add the following code in the keymap (keymap.cson)
`'atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-]': 'unset!'`

[2016-02-04 15:21] dbachko commented on #193
Reproducible:
![screen shot 2016-02-04 at 10 18 48 am](https://cloud.githubusercontent.com/assets/9260214/12819360/c08dbd1e-cb28-11e5-8976-1ec5eecf89c0.png)

Correct highlight for cursor at the end of the script tag:
![screen shot 2016-02-04 at 10 09 16 am](https://cloud.githubusercontent.com/assets/9260214/12819246/51d6bc2c-cb28-11e5-890c-f4314b3f49f8.png)

[2016-02-04 18:16] jubalm commented on #63
:+1:

[2016-02-06 03:00] mixxster commented on #170
I would really really like to see this.

[2016-02-07 02:01] sompylasar commented on #7
I made a package that indents empty lines using the Atom's internal auto-indent when you move the cursor, and cleans up trailing spaces from empty lines when the cursor moves to another place. Works for any language.

Please feel free to try and leave feedback!

https://github.com/sompylasar/atom-cursor-indent

<img src="https://cloud.githubusercontent.com/assets/498274/12710012/0c317764-c8c3-11e5

[2016-02-09 13:11] fthebaud commented on #114
I agree, this would be a nice feature to have.

[2016-02-10 12:37] prezmo commented on #117
Very annoying bug. Any known workarounds?

[2016-02-10 17:19] jasrusable commented on #170
+1

[2016-02-10 21:57] WalterGR commented on #170
I haven't tried it, but someone recently released a package that does something similar: "My first package released (Coloured brackets)" - https://discuss.atom.io/t/my-first-package-released-coloured-brackets/21261.

[2016-02-11 16:40] ericpar commented on #69
I have the same problem using a French Canadian keyboard layout.

[2016-02-11 21:29] borisdiakur commented on #113
Here is another one for JavaScript:

[code]

[2016-02-12 01:43] luisrudge commented on #203
I'm seeing an issue that looks like this one:
![image](https://cloud.githubusercontent.com/assets/941075/12996692/3e5e4358-d119-11e5-9658-1e48de55dd15.png)

[2016-02-12 20:22] emileber commented on #63
+1

[2016-02-13 23:25] Keavon commented on #63
I loved this feature when I used Visual Studio for my web development. It was so nice not having to rename the closing tag after renaming the opening tag.

[2016-02-15 12:00] schaeferto commented on #115
Ran in the same issue while writing xml files.
If a xml tag has properties and is self-closing it is not detected as "closed".
Is there any fix for this behaviour?

[2016-02-18 09:26] romanfazulianov opened #213 "Wrong matching for brackets in quotes"
Hi! I have such bug: the end bracket of the function is matched to the bracket inside a string in quotes
![2016-02-18 12 17 47](https://cloud.githubusercontent.com/assets/5006121/13138734/deac2cba-d639-11e5-93e4-4ff81274e822.png)

    atom v1.02
    bracket-matcher v0.79.1
    Ubuntu v14.04

[2016-02-18 12:41] 50Wliu commented on #213
This is a duplicate of #78 - feel free to subscribe there for updates.

In addition, your Atom version is severely outdated - the latest version is currently 1.5.3.

[2016-02-18 12:41] #213 closed

[2016-02-19 20:06] danielmcoelho commented on #63
+1

[2016-02-23 03:03] francismaile opened #214 "Customize close [], (), "" or {}"
I find auto-closing brackets, parentheses and quotes mostly annoying but curly braces most useful. It would be great if the settings could be fine-tuned enough to allow these specific choices.

[2016-02-23 17:55] Siguza opened #215 "Bracket matches inside JavaScript RegEx literal"
Language: JavaScript

Code:

    function(s)
    {
        return /\}/.test(s);
    }

Result:

![screenshot](https://cloud.githubusercontent.com/assets/1659374/13261006/710d44f4-da5e-11e5-9e55-49fefca87bf8.png)

[2016-02-23 19:17] 50Wliu commented on #215
This is a duplicate of #78 - feel free to subscribe there for updates.

[2016-02-23 19:17] #215 closed

[2016-02-24 17:51] NAlexPear opened #216 "Add extra spacing on auto-closed `()` and `{}`"
The style guide for a codebase I'm working on requires extra spaces between parens and curly braces. For example:
[code]
I'd like to be able to add those spaces automatically on auto-completion, since I know that I'll need it every time. Could this possibly be added or a feature?

[2016-02-25 14:14] ruv opened #217 "Closing tag with namespace prefix"
Any start-tag that contains a prefix is closed incorrectly.

For example,  `Ctrl+Alt+.` command after `<p:name>` produces `</p>`.

bracket-matcher version 0.79.0

[2016-02-25 14:35] abe33 opened #218 "Uncaught Error: This TextEditor has been destroyed (again)"
It looks like #178 is occuring again on master (1.7.0-dev-e94653d):
![banners_and_alerts_et_page_extensions_rb_ __users_cedric_development_ruby_tprint_pages](https://cloud.githubusercontent.com/assets/247140/13322497/f6591ca6-dbd4-11e5-8a19-4d0afeda3991.png)

Steps to reproduce:

1. Split the layout in two columns
2. Open the same file in each pane
3. Close one of the editor
4. Type in the remaini

[2016-02-25 14:35] abe33 commented on #218
The full stack trace:

[code]

[2016-02-25 16:46] 50Wliu commented on #218
See also atom/atom#10957 which is the same error.

[2016-02-26 15:36] #218 closed

[2016-02-27 17:37] pvorona opened #220 "Don't recreate markers for already marked pairs"
For now every time something happens in editor, the packege deletes markers and recreates new even when they are on the same place. It makes animating pairs very hard. Please, make markers stay alive, dont recreate them on same place.
I belive it happens here
https://github.com/atom/bracket-matcher/blob/master/lib/bracket-matcher-view.coffee#L76

[2016-02-28 06:50] lope commented on #46
+1
I would really benefit from this. I would make a yellow block around the matching bracket. The tiny blue underline is very hard to notice in a massive chunk of code.

[2016-02-28 07:18] lee-dohm commented on #46
@lope You can make a yellow box around the matching bracket. You just can't change the style of the text itself.

[2016-02-28 09:33] lope commented on #46
@lee-dohm great, how can I set a background color on the matching bracket? I've seen a few other people such as @majcherek2048 ask about this as well?

[2016-02-28 14:09] lee-dohm commented on #46
[code]

[2016-02-28 15:53] majcherek2048 commented on #46
@lope I was actually asking for a way to change the actual bracket. But cool @lee-dohm .. From now on I'll be using this :+1:

[2016-02-29 12:57] lope commented on #46
@lee-dohm Thanks so much. The last challenge is I'd like to style the color (text color) black so the bracket is still readable with the yellow background. I tried adding `color:black !important;` to your snippet but it didn't work.

I've tried to figure out what class/CSS path to refer to... using view>Developer>Devtools but I don't understand atom's HTML layout. It's very strange.
Besides just t

[2016-02-29 18:50] lee-dohm commented on #46
@lope The last challenge is why this Issue is still marked as Open :grinning:

[2016-03-02 15:30] zmbc commented on #80
To generalize, this occurs whenever you've only typed one character after a backslash, and behaves the exact same way with `(` as with `"`.

Typing `(\zz)` or any other two character string after the backslash will not cause this error. It only occurs when the attempted closing `"` or `)` is one of the two characters immediately after a backslash.

[2016-03-02 17:13] andyfriesen commented on #80
I have a fix for this at https://github.com/atom/bracket-matcher/pull/201 which I think solves for both terminating quotes and parentheses.

Until it gets merged, you can try it out by cloning the package into your ~/.atom/packages directory.

[2016-03-02 18:00] zmbc commented on #80
Thanks! That fixes it. Hope it gets merged soon, this is a major annoyance that everyone shouldn't have to look around on Github in order to fix.

[2016-03-03 12:00] chl1996 commented on #46
:+1:

[2016-03-04 07:06] seanmars commented on #63
+1

[2016-03-04 14:14] abdelouahabb commented on #63
here we go, +1 !

[2016-03-04 14:29] lope commented on #46
@lee-dohm I'd really appreciate a tip for finding the right class or CSS-path to be able to style the highlighted bracket's text-color?

[2016-03-04 17:17] majcherek2048 commented on #46
@lope Yes, we want that too, but it isn't currently possible, hence this issue is still open/unresolved. It's a feature we're still hoping/waiting for. If you find that you have the time and know-how, you could add it the code and make us all happy :wink:

[2016-03-07 17:47] svinkle commented on #63
:+1: :hamburger:

[2016-03-08 16:22] rdemeyer commented on #69
The solution from @glowdemon1 works for me (layout fr_be).

[2016-03-09 12:50] philippe99 commented on #69
Works also for me; thanks @glowdemon1

[2016-03-10 15:45] justinryder commented on #63
110% agree!

This is ~~one of~~ _the only_ feature that I miss from using Visual Studio to edit HTML.

[2016-03-14 11:41] J-qak commented on #121
+ 1 for Common Lisp, where single `'` is used for "quoting" lists and stuff pretty frequently. I've been trying to disable whole quote-completing feature from my fork of language package with no avail. Anybody know why the following code in my `language-lisp/settings/language-lisp.cson` doesn't work?
`
  "bracket-matcher":
    autocompleteBrackets: false
`

[2016-03-14 13:46] ul commented on #214
+1 for fine-grained control over autoclosable set.
My personal frustration is related to single quotes and backticks — it would be fine to disable their autoclosing while writing lisp.

[2016-03-16 10:10] shawninder commented on #78
Here is an example in a string in javascript:

<img width="319" alt="screen shot 2016-03-16 at 10 57 20" src="https://cloud.githubusercontent.com/assets/484730/13808618/484843a6-eb67-11e5-98c5-e72ebf9e61f0.png">

[2016-03-18 17:27] jonchenn commented on #63
+1

[2016-03-24 13:47] JackGarner opened #222 "Select all html tag"
hi all.
How to select all html tag with the both brackets by hotkey?
ctrl-alt-m select text only inside, but i need all tag. This feature is in pspad and very useful.
Example tag

[code]

so, ctrl-alt-m return only

[code]

, i need after press hotkey

[code]

[2016-03-24 13:55] thinksaydo commented on #63
+1

[2016-03-30 19:31] aatkinson-canopy commented on #171
Bracket Matcher should not insert a set of brackets when the cursor is to the left of a string. This already the case for when the cursor is to the right of a string. It should insert the set of quotes only when the cursor is not adjacent to a string. Thanks.

[2016-04-04 09:59] gonsfx commented on #97
Guys, whats the status of this?
Looking forward to it being merged!

[2016-04-04 20:14] codeHatcher opened #224 "Bracket swallowing not working consistently"
I constantly find duplicate brackets appearing because the swallowing is not working correctly. Here is in an example in a C# project.

https://gyazo.com/cc676f78117dfb32a77d056e87bc9112

[2016-04-04 20:14] codeHatcher commented on #224
I have a US keyboard, I see that was an issue before with international keyboards

[2016-04-05 01:52] boozedog commented on #171
+1 for disabling (non-smart) quotes separately from brackets. I'm finding myself stumbling over non-smart-quotes a lot in Javascript. Brackets are fine though.

[2016-04-06 03:20] JLCCI opened #225 "Bracket Highlighting"
First of all thanks for the amazing work with the package.

Not really an issue but rather a comment. I found an amazing package that makes the bracket highlighting look much better and overall fit with how atom looks.

https://github.com/pvorona/atom-bracket-highlight

Perhaps it would be a good idea to merge it with the stock bracket package?

[2016-04-08 10:09] aryzing opened #226 "Highlighted matching bracket is in string!"
Hi, I was just practicing some JS by re-implementing JSON.stringify when I noticed that one of the reported matching brackets was actually within a string. See example. Note: work in progress!
[code]

[2016-04-08 13:25] 50Wliu commented on #226
This is a duplicate of #78 - feel free to subscribe there for updates.

[2016-04-08 13:25] #226 closed

[2016-04-08 13:26] 50Wliu commented on #23
Closing this in favor of #78.

[2016-04-08 13:26] #23 closed

[2016-04-08 22:41] brnrdbrk commented on #63
+1

[2016-04-09 16:33] Redsandro opened #227 "Don't add second quote when selection contains quote."
When starting with `'`, `"` or `, there appears a second quote after the cursor, which is expected and preferred.

When there's a selection, the second quote appears after the selection, which is also expected.

However, when a certain quote is selected and we type a quote because we want to replace it (e.g. double to single quote), we wrap the selection in quotes too. E.g. `"` -> `'"'`. This is n

[2016-04-11 19:52] jwhitmarsh commented on #63
@kevinsawicki do you know if this is being worked on atm?

[2016-04-11 20:17] dsandstrom commented on #63
I'm working on something, but it's a [separate package](https://github.com/dsandstrom/atom-double-tag) and not ready for release.  Initially, I simply added a second cursor to the closing tag, but I found problems with that approach.  I'm currently rewriting it so that it waits for the new opening tag to be changed, then copies the text to the matching closing tag.

[2016-04-12 20:54] tupini07 commented on #117
+1

[2016-04-13 05:09] gruppler commented on #113
Yes, here's another:
`function test (remainder) {
  var end = remainder.indexOf('}');
}`

If the expected closing bracket is found in a string, it's erroneously accepted.

[2016-04-13 05:15] gruppler commented on #78
Here's another:
[code]

[2016-04-15 08:10] Platzer commented on #217
Hi i was not able to create a pull request: because apm install fails: [node-oniguruma
](https://github.com/atom/node-oniguruma/issues/9). So i had a look into the code, i think its in [tag-finder.coffee](https://github.com/atom/bracket-matcher/blob/master/lib/tag-finder.coffee) in line 134 function `tagsNotClosedInFragment`. I think a xml specification fulfilling regex would solve this one:

`@pa

[2016-04-19 09:42] slang800 commented on #171
I think this issue can be closed since #182 sounds like exactly what is needed, especially now that we have more general support for per-language/scoped settings.

[2016-04-19 10:41] boozedog commented on #171
But what if, for a given language, one wants to keep the bracket matching turned on for `{` and `[` but not for `'` and `"` ? I don't think #182 solves that.

[2016-04-19 10:43] boozedog commented on #182
+1 for this enhancement.

[2016-04-19 17:11] kebno commented on #182
+1

[2016-04-20 02:50] isiahmeadows commented on #182
I think it would come down to parameterizing [these lines](https://github.com/atom/bracket-matcher/blob/master/lib/bracket-matcher.coffee#L7-L24) and enabling them to be mutated via a service. I'm considering taking a stab at this, but I'm time-strapped ATM. :frowning:

[2016-04-20 10:40] boozedog commented on #182
As an interim step, can the "non-smart" quotes be a separate toggle similar to smart quotes? That'd certainly solve #171 ...

[2016-04-21 16:25] rbdone commented on #170
+1

[2016-04-22 11:27] johngeorgewright commented on #170
I've had a look this morning and realised that it really needs to be a separate plugin, this bracket matching is based on the cursor position.
I also checked out Swakets, but it's very slow and buggy, so I've started something of my own. I'll keep you in the loop.

[2016-04-22 11:27] #170 closed

[2016-04-27 04:57] mrmckeb opened #228 "Uncaught Error: This TextEditor has been destroyed"
To be honest, I'm not sure why I'm seeing this error. It happens whenever I tried to type into the editor. When I closed the pane and re-opened the file, it was fine - but none of my changes were there.

**Atom Version**: 1.7.2
**System**: Mac OS X 10.10.5
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.81.0
### Stack Trace

Uncaught Error: This TextEditor h

[2016-04-27 14:17] 50Wliu commented on #228
@mrmckeb Can you reproduce this consistently?  If so can you try safe mode (`atom --safe`)?

[2016-04-27 23:32] mrmckeb commented on #228
@50Wliu I can't sorry, I managed to get it to show up a moment ago again, and saw it several times yesterday. Once it starts, it happens every time I close a file, and a restart of Atom resolves the issue.

When it last happened I tried following the same steps I'd just completed, and that didn't seem to cause the same issue. So replication might be tricky.

I'll keep an eye on it and update you i

[2016-05-03 08:42] koracIO commented on #69
Still having trouble @hrvoje-grabusic ?
I found this solution working for me, on my croatian keyboard:
'.platform-win32 .editor':
 'ctrl-alt-f': 'native!'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-f': 'unset!'

[2016-05-03 19:58] hrvoje-grabusic commented on #69
i am using visual studio code now.
It is interesting that vscode also had the same problem but they fixed it within a couple of days.
Since they open sourced it perphaps atom can copy their sollution.

[2016-05-04 13:57] koracIO commented on #69
Would be nice if they did that.

[2016-05-04 16:59] dalexj opened #230 "es6 interpolation support"
I'd like to get the `${}` to expand from `$` while inside of javascript backtick strings similar to other interpolations with `#{}`, etc.

is there plans to add this/some package I can add to do this?

thanks

[2016-05-04 21:21] jackocnr commented on #210
Yes this is infuriating! Though I doubt it's a bug.

Personally, I would be happy with an option to disable auto-completing brackets (etc) when the cursor is in the middle of a line.

[2016-05-06 08:05] acarl005 opened #231 "bracket selection with multiple cursors "
It would be nice if cmd+ctrl+m would select multiple things when triggered when there are multiple cursors.

[2016-05-09 20:17] msenol86 commented on #30
Hi

Please add this feature. This feature is very important in LISP family languages like Racket, Clojure.

DrRacket has this feature. Please check the screenshots
[https://www.dropbox.com/sh/mddf4354yse69hs/AAB0YBpPo8cxCL6Fp7osSQxIa?dl=0](url)

[2016-05-09 20:19] 3DEsprit opened #232 "Feature Request: Remove Other Enclosing Characters"
Feature request to _remove the enclosing characters_ from selected text that is not a bracket, like  **quotes**, **single quotes**, **backticks**, etc.

Right now we have the ability to add them to selected text, but no option to reverse this process. While we do have the ability to remove Brackets, Parentheses, and Curly Braces, if there was a similar process for other characters using **Ctrl Alt

[2016-05-10 17:30] renatogalvones commented on #117
+1

[2016-05-10 20:22] trueter commented on #216
I would very much like to see this, too.

[2016-05-11 17:24] dsandstrom commented on #63
[Double Tag](https://github.com/dsandstrom/atom-double-tag) is ready for alpha testing.  Please leave bug reports and feature request on that repo.

[2016-05-11 19:58] vndmtrx commented on #203
Reproduced too on Atom 1.8.0-beta3 on Windows 10.
![captura de tela 2016-05-11 16 56 33](https://cloud.githubusercontent.com/assets/596651/15194500/8e39f810-1799-11e6-82d6-b859c4dd00a0.png)

[2016-05-12 22:48] amucinom commented on #28
It's been a while but it still happens. I've gotten used to it and now just move the cursor with the arrow keys but it disrupts the flow of things 😆  turning bracket matcher off is probably the temporary solution as of now

[2016-05-15 15:27] oliperas commented on #78
More than a year ago Pugio claimed he had fixed it [https://github.com/atom/bracket-matcher/pull/105](url)

[2016-05-15 19:47] Pugio commented on #78
I seem to recall there being more edge cases than I'd at first thought. You're welcome to look at the PR and write some tests.

[2016-05-17 16:57] SandSnip3r commented on #231
Right, each cursor should expand to it's given scope. If multiple cursors share a scope, they become a single selection.

[2016-05-19 23:56] adambuczynski commented on #210
Another problematic case:

[code]

When you type an opening bracket before `foo` you get:

[code]

Seems to me the bracket matcher needs to become a bit smarter and be aware of matching brackets already in place.

@lee-dohm any chance someone could have a look at this bug? It's been open for quite some time, and I'm sure it's causing a lot of unnecessary keystrokes every day :)

[2016-05-20 18:33] lee-dohm commented on #210
@adambuczynski Right now our dev resources are all tied up on higher priority work and/or parental leave (which, to be honest, is also higher priority work :grinning:). I'll ask the team if anyone has some spare time to take a look. I just can't promise anything.

[2016-05-20 20:39] adambuczynski commented on #210
I understand. I'll see if I can look into this myself one of these days.

On Sat, May 21, 2016, 06:33 Lee Dohm <notifications@github.com> wrote:

[2016-05-21 13:27] tomasbedrich commented on #210
@adambuczynski I have tested your case, but I wasn't able to replicate it.

[2016-05-21 21:15] adambuczynski commented on #210
Hmm, I may have over simplified the example too much. I'll see if I can find the exact code it happened with.

[2016-05-21 21:29] adambuczynski commented on #210
@tomasbedrich ah there, found it! I knew I wasn't going crazy and that I'd seen it happen somehow :)

[code]

Adding an opening bracket before `$scope` yields:

[code]

![ss](https://www.dropbox.com/s/jbdowflsjs9q8w9/brackets.gif?dl=1)

[2016-05-21 23:23] tomasbedrich commented on #210
@adambuczynski confirmed. It is the dollar sign which confuses the matcher.

Generalized and minimized, it is this case:

    [cursor][:any-non-word-character:]

When you type a pair character in this configuration, the editor *always* inserts its counterpart – it doesn't care about pairing, even if `[:any-non-word-character:]` is the desired pair symbol.

On the other hand, in this configuration:

[2016-05-23 23:36] chamini2 opened #233 "Continue expanding selection of brackets"
In a case like

`[ { a: (2 |+ 3) * 4 }, { a: (2 - 4) / 4 } ]`

Where the cursor is just before the `+` (it's the `|`), using `select-inside-brackets` should (as it does) select the `2 + 3`. Selection marked with ~~*strikethrough*~~.

`[ { a: (`~~`2 + 3`~~`) * 4 }, { a: (2 - 4) / 4 } ]`

But then, using `select-inside-brackets` again would expand the selection further until the `{}`:

`[ {`~~` a: (

[2016-05-26 18:10] lbenie commented on #97
what's the news on this ?

[2016-05-29 18:16] chamini2 commented on #233
I think this is a duplicate of #74, and fixed by #167.

[2016-05-30 00:46] 50Wliu commented on #233
Thanks @chamini2.

[2016-05-30 00:46] #233 closed

[2016-05-30 18:57] Ajeet-Ganga commented on #114
The functionality you mentioned exist as package, but should have been core-feature.
https://atom.io/packages/expand-selection-to-quotes

Also I usually select large body of text to copy.
So  three clicks could be signal to copy.

Also I see my own behavior changes between programming files vs markdown. In programming files I rarely select/edit whole line, but in markdown/text I often select sente

[2016-06-01 23:06] AustP commented on #28
It looks like this also affects snippets.

![image](https://cloud.githubusercontent.com/assets/2007045/15728649/123dbd4a-281b-11e6-9267-7bef73b2a7f1.png)

[2016-06-02 21:47] tnrich commented on #192
This issue has been around for a while it seems: Duplicate to #15 #8 #231

[2016-06-03 09:45] muendelezaji commented on #128
+1

[2016-06-04 13:13] zoffixznet commented on #214
+1 I want to autoclose braces and parens only. Autoclosing quotes never seems to work right with the way I use them, so it'd be awesome if there were an option to separate the two.

[2016-06-05 02:27] edjroot commented on #78
Code folding seems to work well. It has to match braces and other symbols in the same manner, right? Can't we just apply its logic to this package?

[2016-06-05 04:33] isiahmeadows commented on #78
@edjroot That doesn't just match braces, but indentation and syntax type as well, since it collapses indented method chains (e.g. `foo.bar().baz()`) and comments. So I'm not sure it can work in *quite* the same fashion. Now, skipping certain grammars might work (e.g. strings, comments), but I'm not very knowledgeable with the internals of this plugin.

[2016-06-05 04:43] edjroot commented on #78
Yes, there are quite a few differences and it would have to be worked on, but I'd say it's already a better behavior than the current one, which often becomes useless as shown above.

I'm not familiar with it as well, but maybe we could use it as a more "solid" starting point. This is a very important feature.

[2016-06-06 19:31] derekjobst commented on #97
bump

[2016-06-07 13:19] TomByte commented on #117
For anyone looking for a workaround, the [Emmet plugin](https://github.com/emmetio/emmet-atom) has the command "Balance (outward)".

Have a look at the [default keybind list](https://github.com/emmetio/emmet-atom#default-keybindings) for your native system hotkey.

[2016-06-09 08:58] pvallet opened #234 "Feature request: check bracket consistency"
Hello,

It would be nice to have a check for bracket consistency in the current file, that would display a small red message when there are more opening than closing brackets, and conversely.

It would avoid compilation errors when a bracket has been removed by mistake.

It should stay discrete though, I don't use the auto-generation of brackets as I don't feel at ease with it, therefore I am ofte

[2016-06-09 16:12] heck82 opened #235 "bracket-matcher highlight in comments and quotes"
Atom nice editor, and i hope with common efforts it become better.
Issue:
bracket-matcher highlight brackets in comments and quotes, and it a little bit annoying.
thanks to all who trying resolve this issue.

[2016-06-09 20:06] 50Wliu commented on #235
This is a duplicate of #78 - feel free to subscribe there for updates.

[2016-06-09 20:06] #235 closed

[2016-06-10 22:14] thiagobbt commented on #199
Sublime Text and Visual Studio Code correctly match brackets on both the condition and the body of the following code, Atom doesn't take in consideration that the brackets are in quotes or commented.

[code]

I'd say this should be considered a bug and not an enhancement request.

[2016-06-10 22:20] 50Wliu commented on #199
@thiagobbt That is not related to this issue.  Please subscribe to #78 instead.  Thanks!

[2016-06-14 18:19] alan-zonar commented on #28
I'm seeing this issue in atom `1.8.0`. Has anyone looked into fixing this yet?

[2016-06-18 05:06] slang800 commented on #174
This might be done better with a package like https://atom.io/packages/linter, since it deals more with syntax checking than generic bracket matching

[2016-06-18 05:14] slang800 commented on #234
Duplicate of https://github.com/atom/bracket-matcher/issues/174

[2016-06-18 05:30] slang800 commented on #225
Changes to the default styles should probably be requested in https://github.com/atom/one-dark-syntax. Bracket-matcher handles the logic behind matching brackets and comes with very few CSS rules (since additional rules would need to be reset in every theme that doesn't want animated brackets).

[2016-06-18 16:15] themych commented on #200
+1. Makes me think about switching back to ST.

[2016-06-18 17:18] 50Wliu commented on #234
Thanks @slang800.

[2016-06-18 17:18] #234 closed

[2016-06-18 17:18] 50Wliu commented on #225
Thanks @slang800.

[2016-06-18 17:18] #225 closed

[2016-06-18 20:57] slang800 commented on #121
@J-qak: if you upgrade Atom that should work, since 26d598d607bdfb899932b45f4b867820a53ba552 has been merged.

[2016-06-18 23:13] dawnington commented on #97
bump!

[2016-06-28 18:07] lbenie commented on #97
bump

[2016-07-11 13:00] Nitin-Prabhakar commented on #78
I recently switched from Sublime to Atom, and this bug is playing havoc and creating chaotic env within the editor!

Atom is an editor I would hope and love to hold on to, but the bracket matcher just matches wrong brackets and matches braces in code to braces in comments as has been the case for a while now seeing comments!

When would somebody fix this? long awaited I pick up from the thread

[2016-07-12 12:38] z00m1n commented on #128
+1

[2016-07-12 12:39] z00m1n commented on #227
+1

[2016-07-12 12:39] z00m1n commented on #138
+1

[2016-07-12 12:39] z00m1n commented on #171
+1

[2016-07-12 12:39] z00m1n commented on #81
+1

[2016-07-13 07:09] sradevski commented on #78
I can confirm the same thing happening here, using Javascript. ESLint is complaining also about it, and it is really annoying. I hope you fix this, cause it really causes a lot of inconveniences. Here is another gif just for fun.
![problematomeslint](https://cloud.githubusercontent.com/assets/4820812/16794640/23ab7b98-4914-11e6-8143-19da1290cad4.gif)

[2016-07-13 15:40] harryjubb commented on #30
+1 for this!

[2016-07-14 16:29] vasanthaganeshk opened #236 "problem with matching single quotes and backtick"
if I disable Autocomplete bracket then it also disables matching brackets and matching double quotes. I want matching brackets and matching double quotes but not matching single quotes and matching backticks, this would help in typing Lisp in Atom.

[2016-07-14 20:19] kikz0rsk commented on #78
Still happening at least with javascript. Does it take two years to fix this? Running Atom v1.8.0 with Brackets Matcher v0.82.0.
Please can you fix this? Atom is awesome editor, but this is important feature.
![atom](https://cloud.githubusercontent.com/assets/20465221/16854416/1357de50-4a11-11e6-8b39-f93e0521bb58.PNG)

[2016-07-15 20:20] kinduff commented on #78
If some maintainer post a good starting point or direction of where should this be fixed, I'll take care of the PR.

[2016-07-15 21:05] 50Wliu commented on #78
I'm thinking that a good idea of solving this is only matching brackets that have the same scopes.  So a bracket in a `comment.line.double-slash.js` won't match a `punctuation.definition.function.body.end.bracket.curly.js` bracket.

Of course this is only in theory and I don't know how well it would work out if actually implemented.  It also would depend on language packages providing accurate tok

[2016-07-20 06:41] isiahmeadows commented on #78
@50Wliu You could always filter out whatever scopes interfere with it, or use custom logic if you have to. Even if it's hard-coded, it should work.

[2016-07-22 16:55] chriswelchgb commented on #158
I had the same issue, and it seems that the settings don't seem to take effect until after restart. Two suggestions:
* document that a restart is required
* agree with sgentle that bracket autocomplete and straight quote autocomplete should be separate checkboxes.

I'm running El Capitan and Atom 1.8

[2016-08-03 04:39] loggerhead opened #238 "Feature request: Highlight brackets while the cursor is inside of them."
Quoted from https://discuss.atom.io/t/how-to-highlight-brackets-while-the-cursor-is-inside-of-them-not-just-right-next-to-them/22731:

[2016-08-04 21:25] tnrich commented on #192
@appsforartists please fix this!

[2016-08-04 21:26] tnrich commented on #8
@kevinsawicki it looks like it is still broken in the latest version of atom... Any updates on this one?

[2016-08-08 15:24] smparekh commented on #224
+1, bracket or quote swallowing not working for me as well.

[2016-08-10 17:49] cortner opened #239 "Feature Request: extend select-inside-brackets"
It would be really convenient, if I have nested brackets, e.g.,
[code]
that if I hit `select-inside-brackets` once when I am in the inner bracket then the inner bracket is selected, but if I hit it twice, then the outer bracket is selected.

[2016-08-10 18:56] 50Wliu commented on #239
This is a duplicate of #74 - feel free to subscribe there for updates.

[2016-08-10 18:56] #239 closed

[2016-08-11 02:03] cortner commented on #239
Apologies

[2016-08-11 17:25] apazzolini commented on #224
I see this too on a US MacBook Pro keyboard. For me, it only happens when autocompletion adds the brackets on a function call:

![](https://d3vv6lp55qjaqc.cloudfront.net/items/3Y0F1f1a362P2q2T0T1H/Screen%20Recording%202016-08-11%20at%2012.24%20PM.gif)

[2016-08-13 18:30] utkarshkukreti commented on #171
This was very annoying when wanting to type a single single quote in Rust so I dug into the source and removed completion of single quotes from everywhere. Here are the steps, in case it helps anyone:

1. Run `apm develop bracket-matcher`
2. Open `lib/bracket-matcher.coffee` and comment out the pairs you want to disable, e.g. I did:

[code]
3. Close Atom and start it using `atom -d` to enable deve

[2016-08-13 18:31] utkarshkukreti commented on #182
I posted a workaround (good enough for me until this gets fixed) here: https://github.com/atom/bracket-matcher/issues/171#issuecomment-239634867 cc @boozedog

[2016-08-17 11:03] crantok opened #240 "Suggestion: Tab to jump beyond auto-inserted bracket"
Just installed Atom on a new machine and saw a cool, new (to me) feature of autcomplete-plus / autocomplete-go that allows you to tab from argument to argument in an autocompleted function call **and then beyond the final parenthesis**.

I habitually turn off the auto-insertion features of bracket-matcher because of the need to change to navigation keys / mouse to get beyond the inserted bracket.

[2016-08-17 11:56] herrherrmann commented on #63
This can also be done with the [Emmet package](https://atom.io/packages/emmet), see https://github.com/emmetio/emmet-atom/issues/154#issuecomment-61419379.

Of course it'd still be nicer to see this feature more natively integrated, e.g. in bracket-matcher. Ganbatte!

[2016-08-19 12:48] revelt commented on #117
+1

[2016-08-19 13:15] revelt commented on #222
I need this too. Please consider editing the title, this ticket is not even tagged as "enhancement", admins don't even understand what it means from the title.

"Select complete tag" maybe?

[2016-08-19 14:40] 50Wliu commented on #222
So what this issue is asking for is a command to select the tags as well as the tag contents?

[2016-08-19 14:43] revelt commented on #222
Exactly. Like `CTRL+CMD+M` but more than that, with opening and closing tag part.

On the original example code, I would place the cursor on the opening `<div>` and I'd get all of it selected, from `<div>` to `</div>`.

If you could trigger this when cursor is placed on closing tag (`</div>` in above example) — bonus points 👍

[2016-08-21 15:19] W4RH4WK opened #241 "More precise enable / disable of autoclose"
I recently discovered that bracket-matcher is the plugin causing the autoclosing functionality. It is pretty handy in generally but I am not able to tell it *exactly* which brackets to close automatically, in my case I am fine with `( )`, `[ ]`, `{ }` and `" "` but since I am currently using Atom mainly for rust, I don't want it to auto close `' '`. Only disabling autoclose for single quotes is no

[2016-08-23 15:54] jonchurch commented on #97
+1

[2016-08-24 05:08] mksuper1 opened #242 "wrong bracket is selected if the code has commented lines with {"
Hi,
I noticed a problem where the wrong bracket is selected if the commented codes has { e.g

{1
 {2
   // {3
  4}
5}

if I am bracket 2, bracket 5 will be selected instead of bracket 4.

thanks

[2016-08-24 05:32] johnchourajr opened #243 "Uncaught Error: Cannot decorate a destroyed marker"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.9
**System**: Mac OS X 10.11.6
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.82.1

### Stack Trace

Uncaught Error: Cannot decorate a destroyed marker

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-08-25 04:44] acicali commented on #171
Just wanted to add two cents...

I appreciate the auto completion of quotes *most of the time* - especially when writing something brand new. There are other times when I'm modifying existing code and this same autocompletion feature is a nuisance, requiring me to "right arrow -> backspace/delete" very often. Disabling the feature in settings means I have to lose the "pro" to get rid of the "con".

[2016-08-27 17:23] 50Wliu commented on #243
Hi @johnchourajr, what were you doing when this exception occurred?

[2016-08-27 17:24] 50Wliu commented on #242
This is a duplicate of #78 - feel free to subscribe there for updates.

[2016-08-27 17:24] #242 closed

[2016-08-27 20:39] johnchourajr commented on #243
Typing in the editor.
On Sat, Aug 27, 2016 at 10:23 AM Wliu <notifications@github.com> wrote:

--
—John

[2016-09-04 22:21] phyllisstein opened #244 "Matched tag underlines fill screen with multiline attributes."
Hey there! I just noticed that in both Atom mainline and Atom beta, tags with their attributes on multiple lines cause `bracket-matcher` to choke a little:

<img width="1440" alt="screen shot" src="https://cloud.githubusercontent.com/assets/2207980/18234251/40c71728-72cc-11e6-9a24-0587b7270d76.png">

I would have expected it to detect the end of line after the first `video` tag and stop underlinin

[2016-09-04 23:15] 50Wliu commented on #244
Does this happen with all syntax themes, or just one-dark?

[2016-09-04 23:57] phyllisstein commented on #244
Seems to happen in all of them I’ve tried, including One Light...

<img width="1440" alt="screen shot 1" src="https://cloud.githubusercontent.com/assets/2207980/18234631/b0a5746a-72d9-11e6-87a5-d4eb2fe30f29.png">

...Fizzy...

<img width="1440" alt="screen shot 2" src="https://cloud.githubusercontent.com/assets/2207980/18234633/b6d919a4-72d9-11e6-8c14-42f181d56f6b.png”>

...and Octocat.

<img widt

[2016-09-08 04:25] greensleeves01 opened #245 "Bracket-Matcher does not work"
Fresh install of Atom v. 1.10.1 on a Win7 SP1 laptop.  Confirmed in packages that bracket-matcher is in fact installed.  Bracket-matcher is enabled, however, it does not auto close brackets, quotes, or anything else bracket-matcher is supposed to close.  Is this a bug?  What am I missing?  Very very very frustrating.  This should work by default is my understanding and yet it does not.

[2016-09-08 13:55] 50Wliu commented on #245
Just to confirm: does this also happen in safe mode (`atom --safe`)?

[2016-09-08 20:05] tnrich commented on #231
Please please please someone fix this one!

[2016-09-09 05:11] Sod-Almighty opened #246 "Request: Highlight doublequotes"
Please add an option to highlight matching quotes and double-quotes, _for specific file types._ Also, quotes and double-quotes should only be considered if they are not surrounded by text (i.e. check for a space or punctuation to the left of the opening quote, a space or punctuation to the right of the closing quote). This will prevent false matches on apostrophes.

[2016-09-09 08:27] Smailowska commented on #69
@koracIO This helped. Thanks a lot!

[2016-09-11 00:02] adambuczynski commented on #210
Here's another use case where the bracket matchers adds an unnecessary bracket

![ss](https://www.dropbox.com/s/x1k9od7w5tserl7/brackets-issue.gif?dl=1)

[2016-09-20 19:14] orthros opened #248 "Brace Matching Peek Enhancement"
# Brace Matching Peek Enhancement
A feature I have found invaluable in other editors (in particular Visual Studio) is the ability to mouse over a brace, and be given a tooltip "peek" of what is on the other side of that brace:

The general workflow for this should be of form:

1. User mouses over a closing brace
2. A tooltip of the statement or declaration that precedes the opening brace is presen

[2016-09-20 19:34] 50Wliu commented on #248
That would be a great idea!  If you need help with that, I would suggest posting on [Discuss](https://discuss.atom.io).

[2016-09-20 19:34] #248 closed

[2016-09-22 18:03] orthros commented on #248
Fantastic, thanks!

[2016-09-23 10:31] Lazerproof commented on #117
+1

[2016-09-24 10:38] j4ckhaal opened #250 "[Request] "Bracket matcher" for LaTeX $$"
Would it be possible to have a "bracket matcher" for LaTeX dollar signs ($ and $$)?

Sorry if this is the wrong place to ask.

[2016-09-24 15:42] potto007 commented on #214
Hi @francismaile, @ul, @zoffixznet - I submitted a pull request yesterday that addresses this. When you get a chance, please try it out and see if it satisfies your needs.

[2016-09-24 15:42] potto007 commented on #236
Hi @vasanthaganeshk - I submitted a pull request yesterday that addresses this. When you get a chance, please try it out and see if it satisfies your needs.

[2016-09-24 17:30] vasanthaganeshk commented on #236
@potto007 thanks!

[2016-09-24 22:13] Awale opened #251 "[Feature Request]: growing selection in nested brackets on each CTRL+ALT+M hit"
I think the following behavior would be tremendously intuitive and useful in the case of nested brackets (or pairs of any type):
1. Upon hitting CTRL+ALT+M for the first time, the text inside the innermost brackets is selected
2. Next hit adds the brackets themselves to the selection
3. Next hit adds all the text inside the next-level brackets (i.e., growing outward)
4. etc
The thing could perhaps

[2016-09-25 01:49] benwaffle opened #252 "Closing quote not overridden for \n"
when you type 'a', hitting ' at the end will overwrite the one inserted automatically, but not with '\n'

[2016-09-25 03:00] 50Wliu commented on #252
Please see my edited comment in your previous issue.  This is a duplicate of #78.

[2016-09-25 03:00] #252 closed

[2016-09-25 03:10] 50Wliu commented on #94
Closing in favor of #121, which is more generic.

[2016-09-25 03:10] #94 closed

[2016-09-25 03:10] 50Wliu commented on #250
This is a duplicate of #121 - feel free to subscribe there for updates.

[2016-09-25 03:10] #250 closed

[2016-09-25 03:12] 50Wliu commented on #251
This is a duplicate of #74 - feel free to subscribe there for updates.

[2016-09-25 03:12] #251 closed

[2016-09-25 03:12] 50Wliu commented on #245
Closing until requested information is provided.

[2016-09-25 03:13] 50Wliu commented on #241
This is a duplicate of #121 - feel free to subscribe there for updates.

[2016-09-25 03:13] #241 closed

[2016-09-25 03:14] 50Wliu commented on #236
Closing in favor of #121.

[2016-09-25 03:14] #236 closed

[2016-09-25 03:14] 50Wliu commented on #228
No further reports, so closing.

[2016-09-25 03:16] 50Wliu commented on #224
This is a duplicate of #28 - feel free to subscribe there for updates.

[2016-09-25 03:16] #224 closed

[2016-09-25 03:19] 50Wliu commented on #214
Closing in favor of #121 - feel free to subscribe there for updates.

[2016-09-25 03:19] #214 closed

[2016-09-25 03:20] 50Wliu commented on #244
This is a duplicate of #208 - feel free to subscribe there for updates.

[2016-09-25 03:20] #244 closed

[2016-09-25 03:23] 50Wliu commented on #198
This is a duplicate of #80 - feel free to subscribe there for updates.

[2016-09-25 03:23] #198 closed

[2016-09-25 03:25] 50Wliu commented on #231
This is a duplicate of #192 - feel free to subscribe there for updates.

@tnrich Feel free to send a PR fixing this issue.

[2016-09-25 03:25] #231 closed

[2016-09-25 03:25] 50Wliu commented on #190
This is a duplicate of #203 - feel free to subscribe there for updates.

[2016-09-25 03:25] #190 closed

[2016-09-25 03:26] greensleeves01 commented on #245
So, essentially,  and to recap, you are suggesting that above referenced issue will not happen if user only uses software in safe mode?  Atom should be used in safe mode only in order for the bracket-matcher to function?

[2016-09-25 03:27] 50Wliu commented on #187
This is essentially asking for the same thing as #121, so closing in favor of that issue.

[2016-09-25 03:27] #187 closed

[2016-09-25 03:27] 50Wliu commented on #185
No further reports, closing.

[2016-09-25 03:27] #185 closed

[2016-09-25 03:28] 50Wliu commented on #182
Closing in favor of #121 - feel free to subscribe there for updates.

[2016-09-25 03:28] #182 closed

[2016-09-25 03:30] 50Wliu commented on #158
This is a duplicate of #156 - feel free to subscribe there for updates.

[2016-09-25 03:30] #158 closed

[2016-09-25 03:32] 50Wliu commented on #144
No further reports, closing.

[2016-09-25 03:32] #144 closed

[2016-09-25 03:34] 50Wliu commented on #210
This is a duplicate of #143 - feel free to subscribe there for updates.

[2016-09-25 03:34] #210 closed

[2016-09-25 03:36] 50Wliu commented on #142
No further reports, closing.

[2016-09-25 03:36] #142 closed

[2016-09-25 03:36] 50Wliu commented on #227
This is a duplicate of #138 - feel free to subscribe there for updates.

[2016-09-25 03:36] #227 closed

[2016-09-25 03:37] 50Wliu commented on #136
No further reports, closing.

[2016-09-25 03:37] #136 closed

[2016-09-25 03:39] 50Wliu commented on #120
This is essentially a duplicate of #121 - feel free to subscribe there for updates.

[2016-09-25 03:39] #120 closed

[2016-09-25 03:39] 50Wliu commented on #119
No response or further reports, closing.

[2016-09-25 03:39] #119 closed

[2016-09-25 03:41] 50Wliu commented on #206
This is a duplicate of #116 - feel free to subscribe there for updates.

@WalterGR Please create that PR if you've already done the work locally.

[2016-09-25 03:41] #206 closed

[2016-09-25 03:42] 50Wliu commented on #115
Closing in favor of #203 - feel free to subscribe there for updates.

[2016-09-25 03:42] #115 closed

[2016-09-25 03:43] 50Wliu commented on #114
As there is a community package that is providing this feature, I'm closing this for now unless there is significant justification that this should be provided by bracket-matcher and not a different package.

[2016-09-25 03:43] #114 closed

[2016-09-25 03:43] 50Wliu commented on #112
Closing in favor of #121.

[2016-09-25 03:43] #112 closed

[2016-09-25 03:44] potto007 commented on #121
@michaelsproul, @m-bra, @derekdreery : my frustrations with editing Rust code using Atom is what motivated me to write PR #249. I have some changes to make before it has any hope of acceptance, but wanted to let you know it's out there so you could at least benefit from it and give any feedback you may have.

Given that bracket-matcher is so core to Atom, it stands to reason that it should be high

[2016-09-25 03:45] 50Wliu commented on #89
No further reports, closing.

[2016-09-25 03:45] #89 closed

[2016-09-25 03:45] 50Wliu commented on #88
No further reports, closing.

[2016-09-25 03:45] #88 closed

[2016-09-25 03:51] 50Wliu commented on #68
This should be fixed starting with Atom 1.12.0.

[2016-09-25 03:51] #68 closed

[2016-09-25 03:51] 50Wliu commented on #58
No further reports, closing.

[2016-09-25 03:51] #58 closed

[2016-09-25 03:52] 50Wliu commented on #53
This is a duplicate of #121 - feel free to subscribe there for updates.

[2016-09-25 03:52] #53 closed

[2016-09-25 03:54] 50Wliu commented on #47
This is a duplicate of #30 - feel free to subscribe there for updates.

[2016-09-25 03:54] #47 closed

[2016-09-25 03:55] 50Wliu commented on #216
This is a duplicate of #16 - feel free to subscribe there for updates.

[2016-09-25 03:55] #216 closed

[2016-09-25 03:57] 50Wliu commented on #243
@johnchourajr Sorry for the delay, but have you experienced this exception again since you first reported it?

[2016-09-25 03:59] 50Wliu commented on #238
This is a duplicate of #57 - feel free to subscribe there for updates.

[2016-09-25 03:59] #238 closed

[2016-09-25 04:02] 50Wliu commented on #245
No, I am merely asking *if* your problem still exists in safe mode.  This is so we can eliminate the possibility of community packages interfering with bracket-matcher functionalities.

[2016-09-25 04:17] greensleeves01 commented on #245
That would be affirmative.  Bracket-match does not function in safe mode either.

[2016-09-25 07:30] adambuczynski commented on #143
Another problematic case:

[code]

Add opening bracket after `resolve`, it gets auto completed to:

[code]

[2016-09-25 09:30] Evpok commented on #246
Checking for a space would be very wrong for e.g. Python

[code]
and ES2015
[code]

[2016-09-25 14:35] 50Wliu commented on #245
Ok, thanks for the update.  Some other questions: if you go into the bracket-matcher settings, does it look like the correct settings are enabled?  Are you using an international keyboard layout?

[2016-09-26 20:05] georgd commented on #121
Besides of programming and markup languages the configurability of the bracket matcher is also essential for natural language. Currently it only supports typographical quotation mark matching only for English and French and languages the two oft them share patterns with. For all the other languages there’s no matching at all or faulty matching.

The latter is true for German: There are two sets of

[2016-09-27 10:09] DannyBiker commented on #69
Thank you @glowdemon1 for the workaround. It would be nice to get a proper fix though...

[2016-09-27 15:20] 50Wliu commented on #69
@DannyBiker This should be fixed starting in Atom 1.12.0.

[2016-09-27 19:36] potto007 commented on #245
Very strange. The current version, 0.82.2, works fine for me on all my systems. I'm surprised that it does not work in safe mode, either. If it isn't an interaction problem with non-core packages, then I would guess it to be an issue that Atom or Electron is having with nodejs on your system?

[2016-09-27 20:43] potto007 commented on #121
@georgd PR #249 should resolve this issue for you. Please observe this animated GIF screencast:

![bracket-matcher-germanquotes](https://cloud.githubusercontent.com/assets/219596/18890981/af8cea60-84c0-11e6-86bf-5c806899487d.gif)

[2016-09-28 18:36] potto007 commented on #246
With regards to the highlighting of quotes, this should be classified as a "bug." The algorithm used to match and mark the matching pairs fails when the start and end characters are identical.

[2016-10-15 02:29] john-f commented on #78
I've created a working fix for this: #253.

Unlike #105, which only focused on commented brackets, this solution resolves all issues with brackets in comments, strings, and regular expressions.

I've also added test cases for all of these situations.

[2016-10-16 09:38] as-cii opened #254 "Mistakenly matching a bracket located inside a string"
![bracket-matcher-regression](https://cloud.githubusercontent.com/assets/482957/19416599/dafd2592-9394-11e6-9e78-5af1d21420c4.gif)

You can reproduce this by pasting the following javascript code and moving the cursor to the closing bracket (or to the second opening bracket):

[code]

@maxbrunsfeld @kuychaco: could this be a regression?

[2016-10-16 16:32] maxbrunsfeld commented on #254
Don't think so, as we only changed the logic for *when* to update the match, not how it is computed. I could be wrong though; it's worth trying on old versions.

[2016-10-16 18:44] Ben3eeE commented on #254
Closing as a duplicate of https://github.com/atom/bracket-matcher/issues/78.

[2016-10-16 18:44] #254 closed

[2016-10-21 03:16] lee-dohm commented on #78
Thanks @john-f, I've brought it up to the team for review :grinning:

[2016-10-22 19:32] renzhentaxi opened #255 "Quote not skipping(swallowing?)"
I am using c, not sure if that matters.
Normally  when you are in a quote `'blah blah blah[cursor here]'` all you have to do is type `'` again to jump over it. However, when you type a quote containing `/`, it doesn't jump anymore.
e.g.
`"/d[cursor here]"` if I type `"` again. I would get `"/d"[cursor here]"` instead of `"/d"[cursor here]`.

[2016-10-25 10:44] Chinney commented on #228
Further report right here. Updated a few packages yesterday. Having this problem since then.

[2016-10-25 20:05] IvoVermeer commented on #255
I have the same problem in Windows writing JavaScript.

I can't always reproduce the issue though; sometimes it happens, but most of the times it does not. I will provide an example which I can reproducemultiple times.

[2016-10-26 14:24] PhiLhoSoft commented on #193
Related: https://discuss.atom.io/t/html-script-tags/34874
As said there, "_if I put the caret just before or just after `<script>`, or just before `</script>`, it works._" (ie. this adds a bit more cases to @dbachko's reporting).

[2016-10-26 14:34] 50Wliu commented on #193
This may be due to the fact that script tags aren't handled that well in language-html yet.  I'm working on fixing that.

[2016-10-26 18:50] muppetjones commented on #255
I came to report a similar issue--it's also with `\`: typing `'\n'.join(mylist)` results in `'\n'.join(mylist)'`. This mostly seems to occur with quotes, but I've seen (don't have an example right now) similar issues with parentheses or brackets, especially when nested.

[2016-10-29 07:46] soulawaker commented on #255
The same problem occurred while using Clojure. Skipping quoted or escaped parenthesis and brackets- "[", "(", \[, \( - do not work. For simple test samples, [e "[" ], [e \[  ], (e "(" ), (e \( ).

[2016-11-02 16:40] #78 closed

[2016-11-08 03:52] kuychaco commented on #200
Re-opening this issue after realizing that #204 introduced a regression.

Since autocompletion behavior of brackets is pretty nuanced, prior to changing the current behavior we would want to have a comprehensive solution fleshed out. One that accounts for various different workflows and languages. There are a number of scenarios where automatic insertion of closing brackets are desired and others

[2016-11-08 21:58] janat08 commented on #240
maybe if u just press enter and backspace to remove indent it could move the bracket to the line above the cursor, or just delete the awkward ending brackets.

[2016-11-08 22:00] janat08 opened #256 "Indentation based bracket matching"

[2016-11-12 17:37] udyux commented on #243
I just started having the same issue since last night, for now it only seems to be happening in a single file (`php`). If I close the file's tab and reopen, it works for a few keystrokes but then starts to throw the error on every keystroke in the editor.

**Atom Version**: 1.12.2
**Electron Version**: 1.3.6
**System**: Mac OS X 10.12.1
**Thrown From**: [bracket-matcher](https://github.com/atom/br

[2016-11-12 18:47] 50Wliu commented on #243
@udyux Can you reproduce your issue in safe mode (`atom --safe`)?

[2016-11-15 12:09] Hikari9 commented on #81
I think the problem still exists. I want to disable non-smart quotes WITHOUT disabling brackets matching.
![image](https://cloud.githubusercontent.com/assets/5916118/20305206/5f0195ca-ab6f-11e6-908f-8a9717e247f1.png)

[2016-11-15 19:46] erikphansen commented on #57
👍

[2016-11-17 15:49] Tokimon commented on #243
I am having the same issue and it is not reproduced in safe mode.

[2016-11-18 17:38] teglalap opened #258 "Keep functionality during select"
In other words: jump to matching bracket (or tag) after select has already been started.
It would be very nice that after I've selected the first bracket / tag (at least part of it, or the whole line), ctrl-m would select everything till the matching pair (including it), and still be able to move the cursor afterwards (selecting more or less). This would give users bigger freedom what to include o

[2016-11-21 21:59] codeman38 commented on #255
From what I can see (at least working in Python), this happens if the string *ends* in a backslash followed by some other character.

So, the following lines all trigger the bug:
[code]

The following lines work as expected:
[code]

[2016-11-21 22:14] codeman38 commented on #255
Oh, ouch. I think I see where the problem is. Line 63:

[code]

Not sure what the actual intent of this line was, but this is definitely the culprit. hasEscapeSequenceBeforeCursor == true if **either** of the two prior characters is a backslash, even if the immediately preceding character isn't.

[2016-11-21 23:31] 50Wliu commented on #255
@codeman38 That is a different issue: #80.

[2016-11-24 21:50] ArkhipovK opened #259 "Connection line aka identation guide"
Is it possible to make brackets connection line? Something similar to picture below. Also i aware about indent-guide-improved package, but guidelines there based on identation, not on syntax.
![default](https://cloud.githubusercontent.com/assets/9945452/20610308/65c0f346-b2b9-11e6-95ad-c32c5c441dbb.png)

[2016-11-24 23:24] 50Wliu commented on #259
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #179. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is

[2016-11-24 23:24] #259 closed

[2016-11-27 06:54] achikin opened #260 "Bracket matching wrong in clojure functions with docstring"
<img width="678" alt="screen shot 2016-11-27 at 09 44 51" src="https://cloud.githubusercontent.com/assets/611419/20646180/46a08614-b487-11e6-89b7-0f27de582321.png">

[2016-11-27 06:59] achikin commented on #256
You can check [Parinfer](https://github.com/shaunlebron/parinfer)

[2016-11-28 13:43] timrichd commented on #228
Also having this issue

[2016-11-28 20:15] 50Wliu commented on #260
This will be fixed in Atom 1.14.0.

[2016-11-28 20:15] #260 closed

[2016-11-29 10:32] timrichd commented on #228
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Ubuntu 16.04.1
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.81.0

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-29 15:52] 50Wliu commented on #228
@Chinney what Atom version are you using?
@timrichd The latest version of Atom is currently 1.12.6.  Please update and see if you can still reproduce this.

[2016-12-06 19:15] 50Wliu commented on #121
Fixed by #249.

[2016-12-06 19:15] #121 closed

[2016-12-06 19:15] 50Wliu commented on #171
Fixed by #249.

[2016-12-06 19:15] #171 closed

[2016-12-11 20:35] dmohs commented on #116
This is a constant annoyance for me and impedes my workflow to the point that I'm willing to try to fix it myself. I suspect some modification around here would do the trick:

https://github.com/atom/bracket-matcher/blob/master/lib/bracket-matcher-view.coffee#L165

I'd appreciate any pointers.

[2016-12-12 04:14] dmohs commented on #116
The above PR causes `bracket-matcher` to exhibit the correct behavior in my own testing.

[2016-12-12 07:54] scsmash3r commented on #30
Any news on this?

[2016-12-12 08:38] scsmash3r commented on #179
Any news on this enhancement?

[2016-12-12 08:39] burodepeper commented on #179
@scsmash3r Give the `indent-guide-improved` package a try.

[2016-12-13 05:38] jack-newman opened #263 "Enhancement Suggestion: Ability to remove auto-complete brackets"
For example when in Atom editor and hitting " once "" will appear with your cursor in the middle. I suggest the ability to select what bracket's that operation will occur on and to be able to remove that functionality if wanted.

[2016-12-13 05:43] 50Wliu commented on #263
This was just added in #249 and will be available in Atom 1.14.0.

[2016-12-13 05:43] #263 closed

[2016-12-13 05:56] scsmash3r commented on #179
@burodepeper I know about the `indent-guide-improved` package, but it has some innacuracy about the highlighting itself. Here is the screenshots of how it is implemented in NP++ and how package handles it:
![indent_explain](https://cloud.githubusercontent.com/assets/4781532/21129362/a7e34540-c109-11e6-958f-5832fc91ae5b.jpg)

[2016-12-13 07:55] burodepeper commented on #179
@scsmash3r Have you submitted that as an issue for the package? I assume that something like this (if it's not intended) could be easily added with a setting.

[2016-12-13 09:55] scsmash3r commented on #179
@burodepeper For now I've submitted it :) [indent-guide-imroved #53](https://github.com/harai/indent-guide-improved/issues/53). But that would also be nice for the `bracket-matcher` itself :)

[2016-12-20 11:46] sdaitzman commented on #30
I'm disappointed that this hasn't been implemented already.

[2016-12-21 16:08] 50Wliu commented on #245
Thank you for your issue!

We haven't gotten a response to our questions in our comment https://github.com/atom/bracket-matcher/issues/245#issuecomment-249425148. With only the information that is currently in the issue, we don't have enough information to take action. I'm going to close this but don't hesitate to reach out if you have or find the answers we need, we'll be happy to reopen the issu

[2016-12-21 16:08] #245 closed

[2016-12-26 23:44] madakk opened #268 "Self-closing tags are incorrectly matched in XML/HTML"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2016-12-28 02:49] foisonocean commented on #268
Same problem in `jsx`

[2016-12-31 00:22] 50Wliu commented on #268
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #203. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is

[2016-12-31 00:22] #268 closed

[2017-01-11 01:42] kondalrao opened #270 "Specifying the python path"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-12 15:05] lumean opened #271 "Uncaught RangeError: Maximum call stack size"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-14 00:12] jkeen commented on #271
I too am getting this error after updating some atom packages (didn't pay too much attention to which ones, unfortunately, I just hit the update button).

This is some sort of interaction between this plugin and the [sublime style column selection](https://atom.io/packages/sublime-style-column-selection) plugin. It happens every time I try to use the column selection plugin.

To reproduce:

1. Ope

[2017-01-14 09:39] Ben3eeE commented on #271
I can reproduce this when using <kbd>Alt</kbd> and left mouse click to select text with the `Sublime-Style-Column-Selection` installed. When testing I only had the `Sublime-Style-Colum-Selection` package installed when testing. In safe mode I do not see this issue.

![sublime-callstack](https://cloud.githubusercontent.com/assets/1058982/21953966/2bf20250-da45-11e6-8e7a-92a4ebe3fdc4.gif)